{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="h2-responsive">{{ title }}</h2>

        <div class="card card-body">

            {% if data %}
                <div class="row">
                    <div class="col-md-6">
                        {{ 'Email'|trans }}: {{ data.email }}<br>
                        {{ 'Benutzername'|trans }}: {{ data.username }}
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('team_dsb_remove', {'id':data.id}) }}" class="btn btn-sm btn-danger"
                           onClick="return confirm('{% trans %}Möchten Sie diese Aktion wirklich durchführen? Der DSB wird daraufhin als Admin, Koordinator und Akademiebenutzer entfernt.{% endtrans %}')">Entfernen</a>
                    </div>
                </div>
            {% else %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <p class="alert-danger mt-5 text-center">
                    {% trans %}Hier können Sie einen externen DSB ernennen. Der externe DSB hat die Möglichkeit, zwischen Teams hin und her zu wechseln und dabei jedesmal die die Berechtigung Datenschutzkoordinator, Datenschutzbeauftragter, Admin und Akademiemitglied zu erhalten.{% endtrans %}
                </p>
            {% endif %}


        </div>
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}

{% block javascript %}
{% endblock %}
