{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="h2-responsive">{{ title }}</h2>

    <div class="card card-body ">
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
