<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ 'Einladungslinks'|trans }}</h5>
             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>{{'Einladungslink für Teilnehmer'|trans}}</h5>
             <div class="md-form input-with-post-icon">

             </div>

            <div class="input-group mb-3">
                <input id="linkPart" readonly type="text" class="form-control" value="{{ absolute_url(path('public_subscribe_participant',{'uid':room.uidParticipant})) }}">
                    <button class="btn btn-md btn-outline-primary waves-effect copyLink" type="button"  data-clipboard-target="#linkPart" >   <i class="fa-regular fa-copy"></i></button>
            </div>
            <h5>{{'Einladungslink für Moderatoren'|trans}}</h5>

            <div class="input-group mb-3">
                <input id="linkModerator" readonly type="text" class="form-control" value="{{ absolute_url(path('public_subscribe_participant',{'uid':room.uidModerator})) }}">
                <button class="btn btn-md btn-outline-primary  waves-effect copyLink" type="button"  data-clipboard-target="#linkModerator" >   <i class="fa-regular fa-copy"></i></button>
            </div>


        </div>
    </div>
</div>
