{% extends 'join/base.html.twig' %}
{% block header %}
    <h4 class="h4-responsive text-center w-100">{{ room.name }}</h4>
    <p class=" text-center">  {% set locale =  app.request.locale %}
        {{ room.start|format_date(pattern="EEEE",locale=locale) }},
        {{ room.start|format_datetime('long', 'none', locale=locale) }},
        {{ room.start|date('H:i') }} - {{ room.endDate|date('H:i') }}</p>
    {% if room.maxParticipants is null %}
        {% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Unbegrenzte Teilnehmerzahl{% endtrans %}
    {% elseif room.maxParticipants - room.user|length >1 %}
        {% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Noch {spaces} Plätze frei{% endtrans %}
    {% elseif room.maxParticipants - room.user|length == 1 %}
        {% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Noch ein Platz frei{% endtrans %}
    {% elseif room.maxParticipants - room.user|length <= 0 and room.waitinglist == true %}
        {% trans %}Warteliste{% endtrans %}
    {% endif %}
{% endblock %}


{% block content %}


    {% if room.maxParticipants - room.user|length >0 or room.waitinglist == true or room.maxParticipants is null %}
        <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
            <p class="text-center text-md-start">
                {{ 'Melden Sie sich an und schreiben Sie sich auf der Teilnehmerliste ein'|trans }}
            </p>
            {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}

            <div class="row form-group">

                <div class="col-12">
                    {{ include('join/__datenschutz.html.twig',{'server':server,'dataPrivacy':dataPrivacy}) }}

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.subscribe) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="col-lg-12">
            <h3 class="text-center ">{% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Keine Plätze mehr frei{% endtrans %}</h3>
        </div>



    {% endif %}


{% endblock %}
