{% if app.user and room.moderator == app.user and room.server.enableRecording %}
    <div id="wrapper-recording" class="d-none">
        <div id="startEgress" class="wrapper {% if getRecordingForRoomAndUser(app.user,room) %}d-none{% endif %}">
            <div class="dropdown">
                <div class=" conference-icon" type="button" href="#" id="startRecording" data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
                    <i class="fa-solid fa-record-vinyl"></i>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item startEgress"
                           href="{{ path('app_start_egress',{'template':'single-speaker','uidReal':room.uidReal}) }}">{{ 'recording.startSpeakerOnly'|trans }}</a>
                    </li>
                    <li><a class="dropdown-item startEgress"
                           href="{{ path('app_start_egress',{'template':'speaker','uidReal':room.uidReal}) }}">{{ 'recording.startSpeaker'|trans }}</a>
                    </li>
                    <li><a class="dropdown-item startEgress"
                           href="{{ path('app_start_egress',{'template':'grid','uidReal':room.uidReal}) }}">{{ 'recording.startGrid'|trans }}</a>
                    </li>
                    {% if server.enableTranscription %}
                    <li>
                        <label class="dropdown-item toggleTranscription" data-href="{{ path('app_transcription_toggle',{'room':room.id}) }}">
                            <input type="checkbox" {% if room.enableTranscription %}checked="checked"{% endif %}>
                            {{ 'recording.toggleTranscription'|trans }}
                        </label>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="wrapper-helper">
                {{ 'options.startRecording'|trans }}
            </div>
        </div>

        <div class="wrapper {% if not getRecordingForRoomAndUser(app.user,room) %}d-none{% endif %}">
            <div class="dropdown">
                <div class="conference-icon" type="button" href="#" data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
                    <i class="fa-solid fa-record-vinyl blinking-red"></i>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% set egressId = getRecordingForRoomAndUser(app.user, room)?.recordingId ?? 'REPLACE' %}
                    <li>
                        <a class="dropdown-item stopEgress" id="stopEgress" href="{{ path('app_stop_egress',{'recordingId':egressId}) }}">
                            {{ 'options.stopRecording'|trans }}
                        </a>
                    </li>
                    {% if server.enableTranscription %}
                    <li>
                        <label class="dropdown-item toggleTranscription" data-href="{{ path('app_transcription_toggle',{'room':room.id}) }}">
                            <input type="checkbox" {% if room.enableTranscription %}checked="checked"{% endif %}>
                            {{ 'recording.toggleTranscription'|trans }}
                        </label>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="wrapper-helper">
                {{ 'options.stopRecording'|trans }}
            </div>
        </div>
    </div>
{% endif %}
