{% set logo_small = httpsAbolutUrl(asset('logo_small.png')) %}

{% if server is defined and  server is not null and server.logoUrl is not null %}
    {% set logo_small =  server.logoUrl %}
{% else %}
    {% if theme == false %}
        {% set logo_small = httpsAbolutUrl(asset('logo_small.png')) %}
    {% else %}
        {% set logo_small = theme.logo %}
    {% endif %}
{% endif %}


<div class="conference-sidebar" id="conferenceSidebar">
    <div class="sidebar-toggle" id="sidebarToggleMobile">
        <i class="fa fa-caret-right"></i>
    </div>
    {% if user is defined and user is not null %}
        <script>
            var schowNameInWidgets = "{{ user|nameOfUserNoSymbol }}";
        </script>
    {% endif %}
    <div class="logo">
        <img src="{{ logo_small }}">
    </div>

    <div class="wrapperIcons" id="wrapperIcons">

        {% if room is defined and room is not null %}
            {% if not room.server.liveKitServer %}
                {% if room.server.disableChat != true %}

                    <div class="wrapper">
                        <div class=" externalChat conference-icon" id="externalChat">
                            <i class="fa-regular fa-message"></i>
                            <div class="filter-dot d-none"></div>
                        </div>
                        <div class="wrapper-helper">
                            {{ 'options.chat'|trans }}


                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if getApplicationProperties('LAF_WHITEBOARD_FUNCTION') == 1 %}
            {% if room is defined and room is not null %}
                {% if room.server.disableWhiteboard != true %}
                    <div class="wrapper">
                        <div class="startExternalApp  startWhiteboard conference-icon d-none"
                                {% if app.user is defined
                                    and app.user is not null
                                    and (
                                    room.moderator == app.user
                                    or roomPermissions(app.user,room).moderator == true
                                    or roomPermissions(app.user,room).lobbyModerator == true) %}
                                    data-selfurl="{{ createWhitebophirLink(room,true) }}"
                                    data-room="{{ room.uidReal }}"
                                    data-url="{{ createWhitebophirLink(room,false) }}"
                                {% else %}
                                    data-selfurl="{{ createWhitebophirLink(room,false) }}"
                                {% endif %}
                             data-roomUid="{{ room.uid }}"
                        >
                            <i class="fa-solid fa-chalkboard"></i>

                        </div>
                        <div class="wrapper-helper">
                            {{ 'options.whiteboard'|trans }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if getApplicationProperties('LAF_LOOKYLOOKY_FUNCTION') == 1 %}

            <div class="wrapper">
                <div class="startExternalApp  startLookyLooky conference-icon d-none"
                     data-selfurl="{{ getApplicationProperties('LOOKYLOOKY_URL') }}"
                     data-roomUid="{{ room.uidReal }}"
                     data-room="{{ room.uid }}"
                >
                    <i class="fa-solid fa-file-pdf"></i>

                </div>
                <div class="wrapper-helper">
                    {{ 'options.whiteboard'|trans }}
                </div>
            </div>

        {% endif %}
        {% if getApplicationProperties('LAF_ETHERPAD_FUNCTION') == 1 %}
            {% if name is not defined or name is null %}
                {% set name = 'Meetling' %}
            {% endif %}
            {% if room is defined and room is not null %}
                {% if room.server.disableEtherpad != true %}
                    <div class="wrapper">
                        <div class="startExternalApp startEtherpad conference-icon d-none"
                                {% if app.user is defined
                                    and app.user is not null
                                    and (
                                    room.moderator == app.user
                                    or roomPermissions(app.user,room).moderator == true
                                    or roomPermissions(app.user,room).lobbyModerator == true) %}
                                    data-selfurl="{{ createEtherpadLink(room,user) }}"
                                    data-room="{{ room.uidReal }}"
                                    data-url="{{ createEtherpadLink(room) }}"
                                {% else %}
                                    data-selfurl="{{ createEtherpadLink(room,user) }}"
                                {% endif %}
                             data-roomUid="{{ room.uid }}"
                        >
                            <i class="fa-solid fa-clipboard"></i>
                        </div>
                        <div class="wrapper-helper">
                            {{ 'options.meetingNotes'|trans }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% block extension %}{% endblock %}
        {% if not room.server.liveKitServer %}
            {% include 'conference_modules/__toggleFilmstripe.html.twig' %}
        {% endif %}
        {% if room.server.liveKitServer %}
            {% include 'conference_modules/__livekit_recording.html.twig' %}
        {% endif %}
        <div class="wrapper d-none" id="chatwoot-helper">
            <div class=" conference-icon">
                <i class="fa-solid fa-question"></i>
            </div>
        </div>
    </div>
</div>



