{% extends 'join/base.html.twig' %}
{% block header %}
    {{ room.name }}
{% endblock %}
{% block content %}
        <p class="text-center text-md-start">
            {{ 'Füllen Sie das Formular aus um der Konferenz beizutreten'|trans }}
        </p>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="row form-group">
            <div class="col-12">
                {{ include('join/__datenschutz.html.twig',{'server':server,'dataPrivacy':dataPrivacy}) }}
            </div>
        </div>
        <div class="row">
            {% if form.joinBrowser is defined %}
                <div class="col-md-6">
                    {{ form_row(form.joinBrowser) }}
                </div>
            {% endif %}
            {% if form.joinApp is defined %}
                <div class="col-md-6 d-none d-md-block">
                    {{ form_row(form.joinApp) }}
                </div>
            {% endif %}
        </div>

        {{ form_end(form) }}



{% endblock %}
