{% extends 'join/base.html.twig' %}
{% block header %}
    {{ room.name }}
{% endblock %}
{% block content %}
    <p class="text-center">{{ 'Bitte warten. Die Konferenz ist noch nicht geöffnet'|trans }}</p>
    <h2 class="text-center bg-light border rounded-2 mx-auto p-4 mt-4" id="countdown" style="width: 200px;"></h2>
{% endblock %}
{% block script %}

    <script>
        var checkUrl = '{{ path('room_waiting_check',{'name':name,'uid':room.uid,'type':type}) }}'
        var uid = '{{ room.uid }}';
        var name = '{{ name }}';
        {% if not room.persistantRoom %}
        var startDate = '{{ room.start|date() }}';
        {% endif %}
        
    </script>

{% endblock %}
{% block webpack %}

    {{ encore_entry_script_tags('join') }}
{% endblock %}
