{% extends 'join/base.html.twig' %}
{% block header %}
    <div>
        <h1>{{ getApplicationProperties('PUBLIC_TEXT_HEADER') }}</h1>
        <h4>{{ getApplicationProperties('PUBLIC_TEXT_SUBTITLE') }}</h4>
    </div>

{% endblock %}
{% block content %}


    <div class=" col-12 text-center mt-5">

        {{ form_start(form) }}
        {{ form_widget(form.myName) }}
        <div class="input-group mb-3 mt-3">
            {{ form_widget(form.roomName) }}
            {{ form_widget(form.submit) }}
        </div>

        {{ form_end(form) }}
        <a href="{{ path('dashboard') }}" class="btn btn-outline-primary btn-block">{{ 'Login'|trans }}</a>
        <div class="row mt-3">
            <div class="col-lg-6">
                <ul class="list-group">
                    {% for lC in  app.request.cookies.get('LAST_CONFERENCE')|json_decode  %}
                        <li class="list-group-item"><a href="{{ path('app_public_conference',{'confId':lC}) }}">{{ lC }}</a> </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                {{ getApplicationProperties('PUBLIC_TEXT_BODY_TEXT')|raw }}
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                {{ include('join/__datenschutz.html.twig',{'server':server,'dataPrivacy':dataPrivacy}) }}
            </div>
        </div>
    </div>

{% endblock %}
