{% extends 'join/base.html.twig' %}
{% block header %}
    <div>
        <h1>{{ getApplicationProperties('PUBLIC_TEXT_HEADER') }}</h1>
        <h4>{{ getApplicationProperties('PUBLIC_TEXT_SUBTITLE') }}</h4>
    </div>

{% endblock %}
{% block content %}


    <div class=" col-12 text-center mt-5">

        {{ form_start(form) }}
        {% if form.myName is defined %}
            {{ form_row(form.myName) }}

        {% endif %}
        {{ form_row(form.roomName) }}

        {{ form_widget(form.submit) }}


        {{ form_end(form) }}
        <div class="row mt-3">
            <div class="col-12">
                <ul class="list-group">
                    {% for lC in  app.request.cookies.get('LAST_CONFERENCE')|json_decode %}
                        <li class="list-group-item"><a
                                    href="{{ path('app_public_conference',{'confId':lC}) }}">{{ lC }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12">
                {{ getApplicationProperties('PUBLIC_TEXT_BODY_TEXT')|raw }}
            </div>
            <a href="{{ path('dashboard') }}" class="btn btn-outline-primary btn-block">{{ 'Login'|trans }}</a>

        </div>
        <div class="row">
            <div class="col-12">
                {{ include('join/__datenschutz.html.twig',{'server':server,'dataPrivacy':dataPrivacy}) }}
            </div>
        </div>
    </div>

{% endblock %}
