{{ form_start(form) }}
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            {{ form_row(form.url) }}
            {{ form_row(form.serverName) }}
            {{ form_row(form.corsHeader) }}
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ path('room_check_cors') }}" class="btn btn-outline-primary btn-sm testVideo"
                       target="_blank">{{ 'server.checkHeader'|trans }}</a>
                </div>
            </div>

            <input id="jwtServer" type="checkbox" name="jwtServer" value="jwtServer"
                   {% if server.appId %}checked{% endif %}>
            <label for="jwtServer"> {{ 'Server ID und Secret anzeigen'|trans }}</label><br>
            <div id="appId" class="collapse {% if server.appId %}show{% endif %}">
                {{ form_row(form.appId) }}
                {{ form_row(form.appSecret) }}
            </div>

            <div class="mb-2">
                <a data-mdb-toggle="collapse" class=" caretdown" href="#collapseExample" aria-expanded="false"
                   aria-controls="collapseExample">
                    {{ 'Erweiterte Optionen'|trans }}
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_row(form.featureEnableByJWT) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.jwtModeratorPosition) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.disallowFirefox) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.enforceE2e) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.disableEtherpad) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.disableWhiteboard) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.disableChat) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.disableFilmstripe) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.prefixRoomUidWithHash) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.allowIp) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label for="add_item_link"> {{ 'KeyCloak Gruppen oder E-Maildomains'|trans }}</label>
                                <a tabindex="0" data-mdb-toggle="popover" data-mdb-trigger="focus"
                                   data-mdb-content="{{ 'Hier können sie KeyCloak Gruppen oder E-Maildomains angeben. KeyCloak Gruppen müssen ein "\\" vorangestellt haben (z.B. \\all). User mit der KeyCloak Gruppe oder der E-Maildomain können über diesen Server Meetings erstellen, ohne das diese explizit als Organisatoren benannt werden müssen.'|trans }}"><i
                                            class="fa fa-question-circle"></i></a><br>
                                <ul class="keycloakGroups list-group"
                                    data-prototype="{{ form_widget(form.keycloakGroups.vars.prototype.keycloakGroup)|e('html_attr') }}">
                                    {% for keycloakGroupItem in form.keycloakGroups %}
                                        <li class="d-inline-block list-group-item d-flex justify-content-between">{{ form_widget(keycloakGroupItem.keycloakGroup) }}</li>
                                    {% endfor %}
                                </ul>
                                <button type="button" id="add_item_link" class="btn btn-primary add_item_link2"
                                        data-collection-holder-class="keycloakGroups">Add a Keycloak group
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            {{ form_row(form.submit) }}

        </div>

    </div>
</div>
{{ form_end(form) }}
