<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
<div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            {{ form_row(form.url) }}
            {{ form_row(form.serverName) }}
            {{ form_row(form.corsHeader) }}
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ path('room_check_cors') }}" class="btn btn-outline-primary btn-sm testVideo"
                       target="_blank">{{ 'server.checkHeader'|trans }}</a>
                </div>
            </div>

            <input id="jwtServer" type="checkbox" name="jwtServer" value="jwtServer"
                   {% if server.appId %}checked{% endif %}>
            <label for="jwtServer"> {{ 'Server ID und Secret anzeigen'|trans }}</label><br>
            <div id="appId" class="collapse {% if server.appId %}show{% endif %}">
                {{ form_row(form.appId) }}
                {{ form_row(form.appSecret) }}
            </div>
            {{ form_row(form.licenseKey) }}
            {% if not server|validateLicense %}
                <p><small><span class="badge badge-danger">Enterprise</span><a target="_blank"
                                                                               href="https://h2-invent.com/produkte/jitsi-admin-enterprise"> {% trans %}Geben Sie hier ihren Pro-Lizenkey ein, wenn sie einen solchen erworben haben. Erfahren Sie hier mehr über Jitsi-Admin Enterprise.{% endtrans %}</a></small>
                </p>
            {% else %}
                <p>
                    <small><span
                                class="badge badge-success">{{ 'Enterprise bis'|trans }}</span> {{ server|validateUntilLicense|date('d.m.Y') }}
                    </small></p>
            {% endif %}
            <div class="mb-2">
                <a data-mdb-toggle="collapse" class=" caretdown" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    {{ 'Erweiterte Optionen'|trans }}
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_row(form.featureEnableByJWT) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(form.jwtModeratorPosition) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label for="add_item_link"> {{ 'KeyCloak Gruppen oder E-Maildomains'|trans }}</label>
                                <a tabindex="0" data-mdb-toggle="popover" data-mdb-trigger="focus"
                                   data-mdb-content="{{ 'Hier können sie KeyCloak Gruppen oder E-Maildomains angeben. KeyCloak Gruppen müssen ein "\\" vorangestellt haben (z.B. \\all). User mit der KeyCloak Gruppe oder der E-Maildomain können über diesen Server Meetings erstellen, ohne das diese explizit als Organisatoren benannt werden müssen.'|trans }}"><i
                                            class="fa fa-question-circle"></i></a><br>
                                <ul class="keycloakGroups list-group"
                                    data-prototype="{{ form_widget(form.keycloakGroups.vars.prototype.keycloakGroup)|e('html_attr') }}">
                                    {% for keycloakGroupItem in form.keycloakGroups %}
                                        <li class="d-inline-block list-group-item d-flex justify-content-between">{{ form_widget(keycloakGroupItem.keycloakGroup) }}</li>
                                    {% endfor %}
                                </ul>
                                <button type="button" id="add_item_link" class="btn btn-primary add_item_link2"
                                        data-collection-holder-class="keycloakGroups">Add a Keycloak group
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
