{{ form_start(form) }}
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


            <div class="mt-3">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>{{ 'Logo'|trans }}</h4>
                        {{ form_row(form.logoUrl) }}
                        <p class="small">
                            {% trans %}
                                Hier können Sie eine URL zu Ihrem Logo einfügen, damit den Teilnehmern auf der Join Seite Ihr Logo angezeigt wird.
                            {% endtrans %}
                        </p>
                        <hr>
                        <h4>{{ 'Datenschutzhinweis'|trans }}</h4>
                        {{ form_row(form.privacyPolicy) }}
                        <p class="small">
                            {% trans %}
                                Geben Sie hier einen Link zu den Datenschutzhinweise für den Jitsi-Meet-Server an damit die Teilnehmer darauf hingewiesen werden können.
                            {% endtrans %}
                        </p>
                        <hr>

                        <h4>{{ 'SMTP-Einstellungen'|trans }}</h4>
                        <p class="small">
                            {% trans %}
                                Hier können Sie einen eigenen SMTP Server zum Versenden von Emails angeben. Wenn kein SMTP Server angegeben ist wird der Standard Server von jitsi-admin verwendet.
                            {% endtrans %}
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.smtpHost) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.smtpEncryption) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.smtpPort) }}
                            </div>
                        </div>

                        {{ form_row(form.smtpUsername) }}
                        {{ form_row(form.smtpPassword) }}
                        {{ form_row(form.smtpEmail) }}
                        {{ form_row(form.smtpSenderName) }}
                        <hr>
                        {{ form_row(form.serverEmailHeader) }}
                        {{ form_row(form.serverEmailBody) }}
                        <hr>
                        <h4>{{ 'Hintergrundbild'|trans }}</h4>
                        {{ form_row(form.showStaticBackgroundColor) }}
                        {{ form_row(form.staticBackgroundColor) }}
                        {{ form_row(form.serverBackgroundImage) }}
                        <hr>
                        {{ form_row(form.apiKey) }}
                        <button class="btn btn-primary generateApiKey">{{ 'API-Key neu genereieren'|trans }}</button>

                        <hr class="mt-3">
                        <h4>{{ 'enterprise.settings.header.sip'|trans }}</h4>
                        {{ form_row(form.jigasiApiUrl) }}
                        {{ form_row(form.jigasiNumberUrl) }}
                        {{ form_row(form.jigasiProsodyDomain) }}
                        {{ form_row(form.jitsiEventSyncUrl) }}
                        <hr class="mt-3">
                        <hr class="mt-3">
                        <h4>{{ 'enterprise.settings.header.tags'|trans }}</h4>
                        {{ form_row(form.tag) }}
                    </div>
                </div>




            </div>
        </div>
        <div class="modal-footer">
            {{ form_row(form.submit) }}
            {{ form_rest(form) }}
        </div>
    </div>
</div>
{{ form_end(form) }}