<!-- Footer -->
<div id="footer">
    <div>
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" target="_blank" referrerpolicy="no-referrer" href="{{ imprint }}">{{ 'Impressum'|trans }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" target="_blank" referrerpolicy="no-referrer"
                   href="{{ dataPrivacy }}">{{ 'Datenschutzhinweis'|trans }}</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link d-none d-md-block" target="_blank" referrerpolicy="no-referrer"
                   href="https://github.com/H2-invent/jitsi-admin/issues">{{ 'Fehler oder neue Idee melden'|trans }}</a>
            </li>
            <li class="nav-item d-none d-xl-block">
                <a class="nav-link" target="_blank" referrerpolicy="no-referrer"
                   href="https://h2-invent.com/">Made with ❤ by H2 invent • {{ 'now'|date('Y') }}
                    • v{{ laf_version }}</a>
            </li>
            {% if matomo_enable == 'true' %}
            <li class="nav-item">
                <!-- Button trigger modal -->
                <a class="nav-link"  href="#" data-toggle="modal" data-target="#exampleModal">
                    Matomo Opt-out
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{{ include('base/__matomoOptOut.html.twig') }}
<!-- Footer -->