<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if theme %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ theme.icon }}">
    {% else %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% endif %}

    <link rel="manifest" href="{{ asset('site.webmanifest') }}">

    {% block title %}
        <title>Jitsi Konferenz Manager</title>
    {% endblock %}

    {% if  app.environment == 'prod' %}
        <meta http-equiv="Content-Security-Policy" content="
    default-src 'self' www3.h2-invent.com {{ matomo_url }};
    script-src 'self' 'unsafe-inline' {{ matomo_url }};
    style-src 'self' 'unsafe-inline';
    frame-src 'self' {{ matomo_url }};
    img-src 'self' data: {{ matomo_url }} *;
    object-src 'none'">

        <meta http-equiv="X-Content-Security-Policy" content="
    default-src 'self' www3.h2-invent.com  {{ matomo_url }};
    script-src 'self' 'unsafe-inline' {{ matomo_url }};
    style-src 'self' 'unsafe-inline';
    frame-src 'self' {{ matomo_url }};
    img-src 'self' data: {{ matomo_url }} *;
    object-src 'none'">

        <meta http-equiv="X-WebKit-CSP" content="
    default-src 'self' www3.h2-invent.com  {{ matomo_url }};
    script-src 'self' 'unsafe-inline' {{ matomo_url }};
    style-src 'self' 'unsafe-inline';
    frame-src 'self' {{ matomo_url }};
    img-src 'self' data: {{ matomo_url }} *;
    object-src 'none'">
    {% endif %}

    {{ include('base/__matomo.html.twig') }}

        <!-- Our Custom CSS -->
   {% if css is defined and css is not null %}
       {{ encore_entry_link_tags(css) }}
    {% else %}
    {% if app.request.cookies.get('DARK_MODE') is defined and app.request.cookies.get('DARK_MODE') == 1 %}
        {{ encore_entry_link_tags('black') }}
        {% else %}
            {{ encore_entry_link_tags('app') }}
    {% endif%}
   {% endif %}



    {% block stylesheets %}{% endblock %}


    {% if theme %}
        <style>
            .btn-dashboard{
                background-color: {{ theme.colorButton }} !important;
                color: {{ theme.colorButtonText }} !important;
            }
            .btn-outline-dashboard{
                border-color: {{ theme.colorButtonOutlinecolor }} !important;;
            }
            .light-blue.darken-3{
                background-color: {{ theme.primaryColor }} !important;
                color: white!important;
            }
            .modal h5{
                color: {{ theme.primaryTextColor }} !important;
            }
            .btn-outline-primary{
                color: {{ theme.colorButtonOutlinecolor }} !important;
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
            }
            .btn-outline-primary:hover{
                color: {{ theme.colorButtonOutlinecolor }} !important;
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
            }
            .blackMode a{
                color: {{ theme.primaryColor }} ;
            }
            .btn-outline-secondary, .btn-outline-default{
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
                color: {{ theme.colorButtonOutlineTextcolor }} !important;
            }
            .btn-outline-secondary .active, .btn-outline-default .active,
            .btn-outline-secondary:hover, .btn-outline-default:hover,
            .btn-outline-secondary:active, .btn-outline-default:active,
            .btn-outline-secondary:focus, .btn-outline-default:focus,
            .show>.btn-outline-secondary.dropdown-toggle{
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
                color: {{ theme.colorButtonOutlineTextcolor }} !important;
            }
            .btn-primary{
                background-color: {{ theme.colorButton }} !important;
                color: {{ theme.colorButtonText }} !important;
            }
            .btn-primary.dropdown-toggle{
                background-color: {{ theme.colorButton }} !important;
                color: {{ theme.colorButtonText }} !important;
            }
            .btn-primary.dropdown-toggle:hover{
                background-color: {{ theme.colorButtonHover }} !important;
                color: {{ theme.colorButtonText }} !important;
            }
            .btn-primary.dropdown-toggle:active, .show>.btn-primary.dropdown-toggle, .show>.btn-primary.dropdown-toggle:active{
                background-color: {{ theme.colorButtonActive }} !important;
                color: {{ theme.colorButtonText }} !important;
            }
            .blackMode #content{
                background-color: {{ theme.darkmodeBackgroudcolor }} !important;
            }
            .blackMode .card{
                background-color: {{ theme.darkmodeBackgroudcolorContrast }} !important;
            }
        </style>
    {% endif %}

</head>