<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if theme %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ theme.icon }}">
    {% else %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% endif %}

    <link rel="manifest" href="{{ asset('site.webmanifest') }}">

    {% block title %}
        <title>Jitsi Konferenz Manager</title>
    {% endblock %}



    {{ include('base/__matomo.html.twig') }}

    <!-- Our Custom CSS -->
    {% if css is defined and css is not null %}
        {{ encore_entry_link_tags(css) }}
    {% else %}
        {% if app.request.cookies.get('DARK_MODE') is defined and app.request.cookies.get('DARK_MODE') == 1 %}
            {{ encore_entry_link_tags('black') }}
        {% else %}
            {{ encore_entry_link_tags('app') }}
        {% endif %}
    {% endif %}



    {% block stylesheets %}{% endblock %}


    {% if theme %}
        <style>
            .btn-dashboard, .btn-dashboard p, .sidebarToggle {
                background-color: {{ theme.colorButton }} !important;
                color: {{ theme.colorButtonText }} !important;
            }
            .nav-tabs .nav-item.active, .nav-tabs .nav-item:hover{
                color: {{ theme.colorButton }} !important;
            }
            .nav-tabs .underline {
                border-bottom: solid 3px {{ theme.colorButton }}!important;
            }
            .nav-tabs .nav-item:hover {
                   background: rgba(0, 0, 0, 0.05);
            }
            .btn-outline-dashboard {
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
            }

            .light-blue.darken-3 {
                background-color: {{ theme.colorModalHeader }} !important;
            }

            h5.modal-title, button.close {
                color: {{ theme.colorModalHeaderTextColor }} !important;
            }

            .btn-outline-primary, .btn-outline-primary:hover {
                color: {{ theme.colorButtonOutlineTextcolor }} !important;
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
            }

            .blackMode .btn-outline-primary, .blackMode {
                color: {{ theme.colorButtonOutlineTextcolorDarkMode }} !important;
                border-color: {{ theme.colorButtonOutlinecolorDarkMode }} !important;
            }

            .blackMode a {
                color: {{ theme.primaryColor }};
            }

            .btn-outline-secondary, .btn-outline-default {
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
                color: {{ theme.colorButtonOutlineTextcolor }} !important;
            }

            .blackMode .btn-outline-secondary, .blackMode .btn-outline-default {
                border-color: {{ theme.colorButtonOutlinecolorDarkMode }} !important;
                color: {{ theme.colorButtonOutlineTextcolorDarkMode }} !important;
            }

            .btn-outline-secondary .active, .btn-outline-default .active,
            .btn-outline-secondary:hover, .btn-outline-default:hover,
            .btn-outline-secondary:active, .btn-outline-default:active,
            .btn-outline-secondary:focus, .btn-outline-default:focus,
            .show > .btn-outline-primary.dropdown-toggle {
                border-color: {{ theme.colorButtonOutlinecolor }} !important;
                color: {{ theme.colorButtonOutlineTextcolor }} !important;
            }

            .blackMode .btn-outline-secondary .active, .blackMode .btn-outline-default .active,
            .blackMode .btn-outline-secondary:hover, .blackMode .btn-outline-default:hover,
            .blackMode .btn-outline-secondary:active, .blackMode .btn-outline-default:active,
            .blackMode .btn-outline-secondary:focus, .blackMode .btn-outline-default:focus,
            .blackMode .show > .btn-outline-primary.dropdown-toggle {
                border-color: {{ theme.colorButtonOutlinecolorDarkMode }} !important;
                color: {{ theme.colorButtonOutlineTextcolorDarkMode }} !important;
            }

            .btn-primary {
                background-color: {{ theme.colorButton }} !important;
                color: {{ theme.colorButtonText }} !important;
            }

            .btn-primary.dropdown-toggle {
                background-color: {{ theme.colorButton }} !important;
                color: {{ theme.colorButtonText }} !important;
            }

            .btn-primary:hover, .btn-primary.dropdown-toggle:hover {
                background-color: {{ theme.colorButtonHover }} !important;
                color: {{ theme.colorButtonText }} !important;
            }

            .btn-primary.dropdown-toggle:active, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:active {
                background-color: {{ theme.colorButtonActive }} !important;
                color: {{ theme.colorButtonText }} !important;
            }

            .blackMode #content {
                background-color: {{ theme.darkmodeBackgroudcolor }} !important;
            }

            .blackMode .card {
                background-color: {{ theme.darkmodeBackgroudcolorContrast }} !important;
            }

            .dudp__calendar-header, .mdtp__wrapper[data-theme='blue'] .mdtp__time_holder {
                background-color: {{ theme.colorModalHeader }} !important;
            }

            .dudp__calendar .selected:before {
                background-color: {{ theme.colorButton }} !important;
            }

            .mdtp__wrapper[data-theme='blue'] .mdtp__clock .mdtp__digit.active span,
            .mdtp__wrapper[data-theme='blue'] .mdtp__clock .mdtp__digit:not(.digit--disabled) span:hover,
            .mdtp__wrapper[data-theme='blue'] .mdtp__clock .mdtp__digit.active:before,
            .mdtp__clock_dot{
                background-color: {{ theme.colorButton }} !important;
            }
            .mdtp__button {
                color: {{ theme.colorButton }}!important;
            }
            .blackMode.joinPage .modal {
                background-image: radial-gradient({{ theme.colorButton }}, black);
            }
            .joinPage .modal {
                background-image: radial-gradient({{ theme.colorButton }}, white);
            }
            .successBorder{
                border: {{ theme.colorBadgeRunningNow }} 4px solid;
            }
        </style>

    {% endif %}

</head>