<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>

        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.server) }}
                </div>
                <div class="col-lg-12">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-lg-12">
                    {{ form_row(form.start) }}
                </div>
                <div class="col-lg-12">
                    {{ form_row(form.duration) }}
                </div>
            </div>
            <div class="mb-2">
                <a data-toggle="collapse" class=" caretdown" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    {{ 'Erweiterte Optionen'|trans }}
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_row(form.onlyRegisteredUsers) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
