<div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-right" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ 'Profil'|trans }}</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> {% if theme != false %}{{ theme.nameIdentifier }}{% else %}{{ 'Name'|trans }}{% endif %}:  {{ nameOfUserwithFormat(app.user, laf_showNameFrontend) }}<br>
                    {% if theme != false %}{{ theme.usernameIdentifier }}{% else %}{{ 'Username'|trans }}{% endif %}: {{ app.user.userIdentifier }}<br>
                    {% if getApplicationProperties('allowTimeZoneSwitch') == 1  %}
                    {% if  theme != false %}{{ theme.timeZoneIdentifier }}{% else %}{{ 'Zeitzone'|trans }}{% endif %}: {{ app.user.timeZone }}
                    {% endif %}
                </p>
                <div class="form-check form-switch">
                    <input class="form-check-input switchDarkmode" type="checkbox" role="switch" id="switchDarkmode2"
                            {{ app.request.cookies.get('DARK_MODE') }}
                            {% if app.request.cookies.get('DARK_MODE') is defined and app.request.cookies.get('DARK_MODE') == 1 %}
                    checked
                            {% endif %}/>
                    <label class="form-check-label" for="switchDarkmode2">
                        {{ 'Darkmode'|trans }}</i>
                    </label>
                </div>
                {% if theme == false  or (theme is not null and theme.profileAllowEdit == true  ) %}
                <div class="row">
                    <div class="col-lg-12 mt-3">
                        <p>{{ 'iCal Link'|trans }}</p>
                        <div class="input-group mb-3">
                            <input id="linkical" readonly type="text" class="form-control"
                                   value="{{ httpsAbolutUrl(path('ical',{ 'id':app.user.uid })) }}">
                                <button class="btn btn-md btn-outline-primary  waves-effect copyLink"
                                        type="button" data-clipboard-target="#linkical"><i class="far fa-clipboard"></i>
                                </button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if theme == false  or (theme is not null and theme.profileAllowEdit == true  ) %}
                    <a class="btn btn-primary btn-sm"
                       href="{{ path('connect_keycloak_edit') }}"
                       target="_blank">{% trans %}Profil bearbeiten{% endtrans %}</a>
                {% endif %}
                {% if theme == false  or (theme is not null and theme.profileAllowPasswortreset == true  ) %}
                    <a class="btn btn-primary btn-sm"
                       href="{{ path('connect_keycloak_password') }}"
                       target="_blank">{% trans %}Passwort ändern{% endtrans %}</a>
                {% endif %}
                {% if getApplicationProperties('allowTimeZoneSwitch') == 1 %}
                <a class="btn btn-primary btn-sm loadContent"
                   href="{{ path('time_zone_change') }}"
                   target="_blank">{% trans %}Zeitzone ändern{% endtrans %}</a>
                {% endif %}
                {% if theme == false  or (theme is not null and theme.profileAllowSecondEmail == true  ) %}
                    <a class="btn btn-primary btn-sm loadContent"
                       href="{{ path('second_email_change') }}"
                       target="_blank">{{ 'second.email.title'|trans }}</a>
                {% endif %}
            </div>

            <div class="modal-footer">
                {% if theme == false  or (theme is not null and theme.profileAllowLogout == true  ) %}
                    <a href="{{ path('app_logout') }}" class="btn btn-danger btn-sm">{{ 'Logout'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
