<div class="proTips-wrapper">
    <div class="proTips" id="proTip">
        <div class="first-line">
            <div class="text me-4">
                {% if getApplicationProperties('LAF_PRO_TIP_HEADER') is not null %}
                    {{ getApplicationProperties('LAF_PRO_TIP_HEADER') }}
                {% else %}
                    {{ 'Meetling Pro Tip'|trans }}
                {% endif %}
            </div>
            <i class="fa fa-arrow-up"></i>
        </div>
        <div class="second-line">
            <div class="instruction">
                <b>{{ 'Hotkeys'|trans }}</b>
                    <p><span class="hotkey-badge">1</span> {{ 'Zukünftige Konferenzen'|trans }}</p>
                    <p><span class="hotkey-badge">2</span> {{ 'Feste Konferenzen'|trans }}</p>
                    <p><span class="hotkey-badge">3</span> {{ 'Vergangene Konferenzen'|trans }}</p>
                    <p><span class="hotkey-badge">a</span> {{ 'Adressbuch'|trans }}</p>
                    <p><span class="hotkey-badge">g</span> {{ 'Gruppen'|trans }}</p>
                    <p><span class="hotkey-badge">n</span> {{ 'Eine Konferenz planen'|trans }}</p>
                </div>
        </div>
    </div>
</div>
