<ul class="nav navbar-nav ml-auto">
    <div class="row mr-1">
        <!-- Button trigger modal -->
        <a class="ml-auto mr-2"
           href="{{ helpUrl }}" target="_blank">
            <img src="{{ asset('images/question.png') }}" class="iconSytle">
        </a>


        <a class="ml-auto mr-2"
                data-toggle="modal"
                data-target="#modalAdressbook">
            <img src="{{ asset('images/agenda.png') }}" class="iconSytle">
        </a>
        <a class="ml-auto mr-2"
           data-toggle="modal"
           data-target="#settings">
            <img src="{{ asset('images/settings.png') }}" class="iconSytle">
        </a>
        <!-- Button trigger modal -->
        <a class="ml-auto mr-2"
           data-toggle="modal"
           data-target="#sideModalTR">
            <img src="{{ asset('images/profil.svg') }}" class="iconSytle">
        </a>

        <a href="{{ path('app_logout') }}"><img src="{{ asset('images/logout.svg') }}" class="iconSytle"></a>

    </div>

    <!-- To change the direction of the modal animation change .right class -->
    <!-- Side Modal Top Right -->

</ul>
