<div class="row">
    <div class="col mt-4">
        <div class="form-group">
            <input type="text" placeholder="{{ 'Suche'|trans }}" class="form-control searchListInput">
        </div>
    </div>
</div>
<ul class="list-group">
    {% set name = null %}
    {% for u in app.user.addressbook|sort((a, b) => a|nameOfUserNoSymbol|lower <=> b|nameOfUserNoSymbol|lower) %}
        {% if u|nameOfUserNoSymbol|first|upper != name %}
            {{ u|nameOfUserNoSymbol|first|upper }}
            {% set name = u|nameOfUserNoSymbol|first|upper %}
        {% endif %}

        <li class="list-group-item" style="display: flex; justify-content: space-between">
            <span class="breakWord">{{ u|nameOfUser }} </span>
            <span class="noBreak d-flex">
                {% if servers|length == 1 %}
                    <a class="text-success adhocConfirm me-2"
                       data-text="{{ 'Wollen Sie mit diesem Teilnehmer eine Konferenz starten'|trans }}"
                       href="{{ path('add_hoc_confirm',{'serverId':servers[0].id,'userId':u.id}) }}">
                        <i class="fa fa-phone"></i>
                             </a>
                {% else %}
                    <a class="caretdown dropdown-toggle me-1 text-success" data-mdb-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-phone"></i>
                             </a>
                    <div class="dropdown-menu">
            {% for s in servers %}
                <a class="dropdown-item adhocConfirm"
                   data-text="{{ 'Wollen Sie mit diesem Teilnehmer eine Konferenz starten'|trans }}"
                   href="{{ path('add_hoc_confirm',{'serverId':s.id,'userId':u.id}) }}">{{ s.serverName }}</a>
            {% endfor %}

        </div>
                {% endif %}
                {% if theme == false or theme.trashOnAdressBook == true %}
                    <a class="confirmHref" href="{{ path('adressbook_remove_user',{'id':u.id}) }}"
                       data-text="{{ 'confirm.delete.adressbookUser'|trans }}"><i
                                class="fa fa-trash text-danger"></i> </a>
                {% endif %}
        </span></li>
    {% endfor %}
</ul>
