<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-12">
                    {{ form_rest(form) }}
                </div>
            </div>
            {{ form_end(form) }}
            {% if message is defined %}<p>{{ message }}</p>{% endif %}
        </div>
    </div>
</div>