<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ 'lobby.participant.modal.accept.title'|trans }}</h5>
             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p>{{ 'lobby.participant.modal.accept.message'|trans }}</p>
        </div>
        <div class="btn-group">
            <a href="{{ browserUrl }}" class="btn btn-outline-primary">{{ 'jitsi.start.browser'|trans }}</a>
            <a href="{{ appUrl }}" class="btn btn-outline-primary">{{ 'jitsi.start.app'|trans }}</a>
        </div>

    </div>
</div>