{% extends 'join/base.html.twig' %}
{% block header %}

    {{ room.name }}
{% endblock %}
{% block content %}
    <div class=" col-12 col-lg-8 offset-lg-2">
        <div class="card webcamArea">
            <div class="accessAllowed d-none">
                <p class="small textAllow">{{'lobby.participants.noch'|trans}}</p>
                <div id="lobby_participant_counter" class="textAllow"></div>
                <p class="small textAllow">{{'lobby.participants.seconds'|trans}}</p>
                <a id="stopEntry"
                   class="btn btn-lg btn-outline-primary"
                   data-alternativ="{{ 'lobby.participant.enterNow'|trans }}">{{ 'lobby.participant.pauseEnter'|trans }}</a>

            </div>
            <div class="overlay">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h4 class="text-center">{{ 'lobby.participant.pleaseWait'|trans }}</h4>
            </div>
            <video autoplay="true" id="lobbyWebcam"></video>
            <div class="webcamToolbar">
                <i class="fa fa-video" id="webcamSwitch"></i>
                {{ user.showName }}
                {% if user.user is not null %}
                    {% if user == room.moderator %}
                        <i class="fa fa-star"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row ">
            <div class="col-12 d-flex flex-column flex-md-row justify-content-center">
                <a class="caretdown btn btn-primary dropdown-toggle d-flex align-items-center" type="button"
                   id="selectWebcamDropdown"
                   data-mdb-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"><i class="me-2 fa fa-video"></i><span
                            class=" d-flex w-100     justify-content-center text-center">{{ 'lobby.noWebCamFound'|trans }}</span>
                </a>
                <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1" id="webcamSelect">
                </ul>


                <div class="btn-group">
                    <a href="#" type="button" class="btn btn-primary " id="startEcho"
                       data-texton="{{ 'lobby.start.echo'|trans }}"
                       data-textoff="{{ 'lobby.stop.echo'|trans }}">{{ 'lobby.start.echo'|trans }}</a>
                    <a href="#" type="button"
                       class="btn btn-primary dropdown-toggle caretdown px-3 d-flex align-items-center"
                       data-mdb-toggle="dropdown"
                       data-mdb-reference="parent"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-microphone"></i>
                    </a>
                    <div class="dropdown-menu">
                        <div id="audioInputSelect">
                            <a href="#" class="dropdown-item"><b>{{ 'lobby.echo.input'|trans }}</b></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-center">
                <a href="{{ path('lobby_participants_renew',{'userUid':user.uid}) }}" id="renewParticipant"
                   class="btn btn-outline-primary renew">{{ 'lobby.renew'|trans }}</a>


                <a href="{{ path('lobby_participants_leave',{'userUid':user.uid}) }}" id="leavParticipant"
                   class="btn btn-outline-primary leave">{{ 'lobby.exit'|trans }}</a>
            </div>
        </div>


    </div>
    <div class="w-100" id="jitsiWindow">

    </div>


{% endblock %}
{% block script %}
    <script src='https://{{ room.server.url }}/external_api.js'></script>
    <script>
        var reknockingTime = {{ laf_lobby_ReKnockTime }};
        var type = '{{ type }}';
        var topic =

                {% if user.user is defined and user.user is not null %}
                {{ mercure([
                    'lobby_WaitingUser_websocket/'~ user.uid,
                    'lobby_broadcast_websocket/'~room.uidReal,
                    'lobby_personal'~room.uidReal~user.user.uid
                ])|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
                {% else %}
                {{ mercure([
                    'lobby_WaitingUser_websocket/'~ user.uid,
                    'lobby_broadcast_websocket/'~room.uidReal,
                ])|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
                {% endif %}
        ;
        var removeUrl = '{{ path('lobby_participants_leave',{'roomUid':room.uidReal,'userUid':user.uid}) }}';
        {% set content %}{% include 'lobby_participants/endMeeting.html.twig' with {'url':'/'} %}{% endset %}
        var endModal = '{{ content|replace({"\n":'',})|escape('js') }}';

        var popUpDuration = {{ laf_lobby_popUpDuration }};

        var browserLeave = '{{ path('lobby_participants_browser_leave',{'userUid':user.uid}) }}'
        var healthcheckUrl = '{{ path('lobby_participants_healthCheck',{'userUid':user.uid}) }}'
    </script>
{% endblock %}
{% block webpack %}
    {{ encore_entry_script_tags('lobbyParticipant') }}
{% endblock %}
