{% extends 'join/base.html.twig' %}
{% block header %}
    <h1 class="h1-responsive text-center">{% trans with {'{name}':room.name} %}lobby.participant.title{% endtrans %}</h1>
{% endblock %}
{% block content %}
    <div class=" col-12 col-lg-8 offset-lg-2">
        <div class="card webcamArea">
            <div class="overlay">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h4 class="text-center">{{ 'lobby.participant.pleaseWait'|trans }}</h4>
            </div>
            <video autoplay="true" id="lobbyWebcam"></video>
            <div class="webcamToolbar">
                <i class="fa fa-video" id="webcamSwitch"></i>
                {{ user.showName }}
                {% if user.user is not null %}
                    {% if user == room.moderator %}
                        <i class="fa fa-star"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <a class="caretdown btn btn-primary dropdown-toggle" type="button"
           id="selectWebcamDropdown"
           data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{{ 'lobby.noWebCamFound'|trans }}
        </a>
        <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1" id="webcamSelect">
        </ul>
        <div class="btn-group">
            <a href="#" type="button" class="btn btn-primary" id="startEcho"
               data-texton="{{ 'lobby.start.echo'|trans }}"
               data-textoff="{{ 'lobby.stop.echo'|trans }}">{{ 'lobby.start.echo'|trans }}</a>
            <a href="#" type="button" class="btn btn-primary dropdown-toggle caretdown px-3"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-microphone"></i>
            </a>
            <div class="dropdown-menu">
                <div id="audioInputSelect">
                    <a href="#" class="dropdown-item"><b>{{ 'lobby.echo.input'|trans }}</b></a>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-12">

                    <a href="{{ path('lobby_participants_renew',{'userUid':user.uid}) }}"
                       class="btn btn-outline-primary renew">{{ 'lobby.renew'|trans }}</a>
                    <a href="{{ path('lobby_participants_leave',{'userUid':user.uid}) }}"
                       class="btn btn-outline-primary leave">{{ 'lobby.exit'|trans }}</a>
                </div>
            </div>


    </div>
    <div class="w-100" id="jitsiWindow">

    </div>


{% endblock %}
{% block script %}
    <script src='https://{{ room.server.url }}/external_api.js'></script>
    <script>
        var type = '{{ type }}';
        var topic = {{ mercure(absolute_url(path('lobby_WaitingUser_websocket',{'wUUid':user.uid})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};
        var topicBroadcast = {{ mercure(absolute_url(path('lobby_broadcast_websocket',{'roomUid':room.uidReal})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};

        var removeUrl = '{{ path('lobby_participants_leave',{'roomUid':room.uidReal,'userUid':user.uid}) }}';
    </script>
{% endblock %}
{% block webpack %}
    {{ encore_entry_script_tags('lobbyParticipant') }}
{% endblock %}
