{% extends 'join/base.html.twig' %}
{% block header %}
    <h1 class="h1-responsive text-center">{% trans with {'{name}':room.name} %}Lobby für die Konferenz: {name}{% endtrans %}</h1>
{% endblock %}
{% block content %}
    <div class=" col-12 col-lg-8 offset-lg-2">
        <div class="card webcamArea">
            <video autoplay="true" id="lobbyWebcam"></video>
            <div class="webcamToolbar">
                <i class="fa fa-video" id="webcamSwitch"></i>
                {{ app.user.formatedName(laf_showNameInConference) }}
                {% if app.user == room.moderator %}
                    <i class="fa fa-star"></i>
                {% endif %}
            </div>
        </div>
        <a class="caretdown btn btn-primary dropdown-toggle" type="button"
           id="selectWebcamDropdown"
           data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{{ 'Keine Webcam gefunden'|trans }}
        </a>
        <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1" id="webcamSelect">
        </ul>
        <div class="row">
            <div class="col-12">
            <a href="{{ path('lobby_participants_renew',{'roomUid':room.uid,'userUid':user.uid}) }}" class="btn btn-outline-primary renew">{{ 'Erneut anklopfen'|trans }}</a>
            <a href="{{ path('lobby_participants_leave',{'roomUid':room.uid,'userUid':user.uid}) }}" class="btn btn-outline-primary leave">{{ 'Exit'|trans }}</a>
            </div>
        </div>

    </div>



{% endblock %}
{% block script %}

    <script>
        var topic = {{ mercure(absolute_url(path('lobby_participants_wait',{'roomUid':room.uid,'userUid':user.uid})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};
        var removeUrl = '{{ path('lobby_participants_leave',{'roomUid':room.uid,'userUid':user.uid}) }}';
    </script>

{% endblock %}
{% block webpack %}
    {{ encore_entry_script_tags('lobbyParticipant') }}
{% endblock %}
