<div class="row {% if laf_addParticipantsNoInput == 1 %}d-none{% endif %}">
    <div class="col-12">
        <button
                class="btn btn-primary"
                type="button"
                data-mdb-collapse-init
                data-mdb-target="#bulkInvite"
                aria-expanded="false"
                aria-controls="bulkInvite"
        >
            Mehrere E-Mail-Adressen auf einmal eingeben
        </button>

        <div class="collapse mt-3" id="bulkInvite">
            <div class="card card-block">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 ">
                            {% if form is defined and form is not null %}
                                {{ form_start(form) }}
                                {{ form_row(form.member) }}
                                {{ form_row(form.submit) }}
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Buttons trigger collapse -->

</div>

</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-lg-12 mt-3 d-flex align-items-start justify-content-end">

            <a class="btn btn-outline-danger">
                {{ 'Schließen' | trans }}

            </a>

        </div>

    </div>
</div>


