<div class="row mb-2">
    <div class="col-lg-6">
        <div class="dropdown " id="selectAtendeeArea" tabindex="-1">
            <div class="form-outline">

            <input
                    placeholder="{{ 'input.placeholder.search'|trans }}"
                   autocomplete=off
                   type="text"
                   id="searchUser"
                   class="form-control"
                   href="{{ path('search_participant') }}"
            >
                <label class="form-label" for="searchUser">{{ 'Teilnehmer suchen'|trans }}</label>
            </div>
            <div data-mdb-toggle="dropdown"
                  data-mdb-auto-close="false"
                 id="searchUserDropdownTrigger">

            </div>
            <div class="dropdown-menu" id="participantUser" style="overflow-x:hidden;">
                <a class="dropdown-item defaultSearch" href="#">{{ 'Tippen zum Suchen'|trans }}</a>
            </div>
        </div>
    </div>

</div>

{{ form_start(form) }}
<div class="row {% if laf_addParticipantsNoInput == 1 %}d-none{% endif %}">

    <div class="col-lg-6 ">
        {{ form_row(form.member) }}
    </div>
    <div class="col-lg-6 ">
        {{ form_row(form.moderator) }}
    </div>
</div>


<div class="row {% if laf_addParticipantsNoInput == 0 %}d-none {% endif %}">
    <div class="col-lg-6">
        {{ 'Teilnehmer'|trans }}:
        <ul class="list-group" id="participantsListAdd">
            <li class="list-group-item helpItem">{{ 'Suchen und durch klicken auf <i class="fas fa-plus"></i> hinzufügen'|trans|raw }}</li>
        </ul>
    </div>
    <div class="col-lg-6">
        {{ 'Moderator'|trans }}:
        <ul class="list-group" id="moderatorListAdd">
            <li class="list-group-item helpItem">{{ 'Suchen und durch klicken auf <i class="fas fa-crown"></i> hinzufügen'|trans|raw }}</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 mt-3 d-flex align-items-start justify-content-end">

        <a class="btn btn-outline-danger" href="{{ path('dashboard') }}">
            {{ 'Abbrechen' | trans }}

        </a>
        {{ form_row(form.submit) }}
    </div>

</div>
{{ form_end(form) }}
