<!-- Basic dropdown -->
<a class="dropdown-toggle" type="button" data-mdb-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false"
   data-mdb-auto-close="outside"
><i class="fas fa-ellipsis-v"></i></a>

<div class="dropdown-menu">
    {% if  user.ldapUserProperties is null or user.ldapUserProperties.ldapNumber not in getApplicationProperties('LDAP_DISALLOW_PROMOTE') %}
        {% include('room/__attendeeDropDownRoles.html.twig') with {'room':room} %}
    {% endif %}

    {% if laf_show_resendInvitation == 1 %}
        <a class=" dropdown-item"
           href="{{ path('room_user_resend',{'room':room.uidReal,'user':user.id}) }}">
            <i class="fas fa-share-square"></i> {{ 'participant.resend.invitation'|trans }}</a>
    {% endif %}
    {% if roomPermissions(user,room).moderator == true and room.moderator == app.user and user.keycloakId is not null %}
        <a class=" dropdown-item confirmHref"
           id="transferRoomTo{{ user.id }}"
           data-text="{{ 'transfer.room.confirm'|trans }}"
           href="{{ path('room_change_ownership_index',{'roomId':room.id,'newOwner':user.id}) }}">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>{{ 'transfer.room.start'|trans }}</a>

    {% endif %}
    {% include ('room/__attendeeDropDownSip.html.twig') with {'room':room} %}

    <div class="dropdown-divider"></div>
    <a class="directSendWithConfirm dropdown-item"
       href="{{ path('room_user_remove',{'room':room.id,'user':user.id}) }}"
       data-target="#atendeeList"
       data-text="{{ 'Wollen Sie den Teilnehmer wirklich löschen?'|trans }}"
       data-url="{{ path('room_add_user',{'room':room.id}) }}">
        <i class="fa fa-trash "></i> {{ 'Löschen'|trans }}
    </a>

</div>
