<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
            <button style="color: white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{ 'Teilnehmerliste'|trans }}</p>
            <p class="small">
                <i class="fa fa-crown"></i> {{ 'Zum Moderator ernennen'|trans }}
                {% if room.dissallowScreenshareGlobal %}
                    <br><i class="fas fa-desktop"></i> {{ 'Erlauben seinen Desktop zu Teilen'|trans }}
                {% endif %}
                {% if room.dissallowPrivateMessage %}
                    <br><i
                        class="far fa-comments"></i> {{ 'Erlaube private Nachrichten an andere Teilnehmer zu senden'|trans }}
                {% endif %}
            </p>
            <div id="atendeeList">
                <ul >
                    <li>{{ room.moderator.email }} <span class="small">({{ 'Organisator'|trans }})</span></li>
                    {% for user in room.user %}
                        {% if user != room.moderator %}
                            <li>{{ user.email }}


                                <a class="small directSend {% if roomPermissions(user,room).moderator == true %}text-success{% endif %}"
                                   href="{{ path('room_add_moderator',{'room':room.id,'user':user.id}) }}"
                                   data-text="
{% if roomPermissions(user,room).moderator == false %}
{{ 'Wollen Sie den Teilnehmer wirklich zum Moderator ernennen?'|trans }}
{% else %}
{{ 'Wollen Sie den Teilnehmer wirklich als  Moderator entfernen?'|trans }}
{% endif %}
"
                                   data-target="#atendeeList"
                                   data-url="{{ path('room_add_user',{'room':room.id}) }}"
                                ><i class="fa fa-crown"></i></a>


                                {% if room.dissallowScreenshareGlobal %}
                                    <a class="small directSend {% if roomPermissions(user,room).shareDisplay == true %}text-success{% endif %}"
                                       href="{{ path('change_permissions_screenShare',{'room':room.id,'user':user.id}) }}"
                                       data-text="
{% if roomPermissions(user,room).shareDisplay == false %}{{ 'Diesem Nutzer erlauben seinen Bildschirm zu teilen'|trans }}
{% else %}
{{ 'Diesem Nutzer nicht mehr erlauben seinen Bildschirm zu teilen'|trans }}
{% endif %}
"
                                       data-target="#atendeeList"
                                       data-url="{{ path('room_add_user',{'room':room.id}) }}"><i
                                                class="fas fa-desktop"></i></a>
                                {% endif %}



                                {% if room.dissallowPrivateMessage %}
                                    <a class="small directSend {% if roomPermissions(user,room).privateMessage == true %}text-success{% endif %}"
                                       href="{{ path('change_permissions_privateMessage',{'room':room.id,'user':user.id}) }}"
                                       data-text="
{% if roomPermissions(user,room).privateMessage == false %}{{ 'Diesem Nutzer erlauben private Nachrichten an andere Teilnehmer zu senden'|trans }}
{% else %}
{{ 'Diesem Nutzer nicht mehr erlauben private Nachrichten an andere Teilnehmer zu senden'|trans }}
{% endif %}
"
                                       data-target="#atendeeList"
                                       data-url="{{ path('room_add_user',{'room':room.id}) }}"
                                    ><i class="far fa-comments"></i></a>
                                {% endif %}

                                <a class="small confirmHref"
                                   href="{{ path('room_user_remove',{'room':room.id,'user':user.id}) }}"><i
                                            class="fa fa-trash"></i> </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            {% if room.waitinglists|length > 0 %}

                <b>{{ 'Warteliste'|trans }}</b>
                <hr>
                <ul>
                    {% for w in room.waitinglists |sort((a, b) => a.createdAt <=> b.createdAt) %}
                        <li>{{ w.user.email }}
                            <a class="small directSend"
                                                   href="{{ path('accept_waitingList',{'id':w.id}) }}"
                                                   data-text="{{ 'Wollen Sie den Teilnehmer wirklich zur Konferenz hinzufügen'|trans }}"
                                                   data-target="#atendeeList"
                                                   data-url="{{ path('room_add_user',{'room':room.id}) }}"
                            ><i class="fa fa-check"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            {% endif %}
            <hr>
            <label for="searchUser">{{ 'Teilnehmer Suchen'|trans }}</label>
            <input autocomplete=off type="text" id="searchUser" class="form-control dropdown-toggle"
                   href="{{ path('search_participant') }}"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu" id="participantUser">
                <a class="dropdown-item" href="#">{{ 'Tippen zum Suchen'|trans }}</a>
            </div>
            {{ form_start(form) }}
            {{ form_row(form.member) }}
            <div class="row">
                <div class="col-md-7">
                    {{ form_row(form.submit) }}
                </div>
                <div class="col-md-5">
                    <a class="btn btn-outline-danger" href="{{ path('dashboard') }}">
                        {{ 'Abbrechen' | trans }}
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
