<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl " id="atendeeModalScroll">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{ 'Teilnehmerliste'|trans }}
                {% if getApplicationProperties('SIP_CALLER_SHOW_IN_FRONTEND') == 1  and room.scheduleMeeting != true %}
                <a target="_blank" href="{{ path('app_download_participants_list',{'room':room.id}) }}">
                    <i class="fa fa-print"></i>
                </a>
            {% endif %}
            </p>
            <div class="attendeeScroll">
                <ul id="atendeeList" class="material-list">
                    <li class="d-flex flex-row align-items-center">
                        {% if getApplicationProperties('SIP_CALLER_SHOW_IN_FRONTEND') == 1 and room.scheduleMeeting != true %}
                            <a class=" dropdown-toggle" type="button"
                               data-mdb-toggle="dropdown"
                               data-mdb-auto-close="outside"
                               aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu">
                                {% if  sipPinFromRoomAndUser(room,room.moderator) is not null %}
                                    <a class=" dropdown-item"
                                       href="#sipCaller{{ room.moderator.id }}" type="button" data-mdb-toggle="collapse"
                                       aria-expanded="false" aria-controls="sipCaller{{ room.moderator.id }}">
                                        <i class="fas fa-phone"></i> {{ 'sip.caller.data'|trans }}</a>

                                    <div class="collapse dropdown-item stopCloseDropdown"
                                         id="sipCaller{{ room.moderator.id }}">
                                        <div class="">
                                            <div class="d-flex w-100">
                                                <div>
                                                    {{ 'email.sip.number'|trans }}:

                                                </div>
                                                <div>
                                                    {% for key,n in getJigasiNumber(room) %}
                                                    {% for number in n %}
                                                        ({{ key }}) {{ number }}
                                                        {% endfor %}
                                                        {% endfor %}
                                                </div>
                                            </div>
                                            {{ 'email.sip.roomnumber'|trans }}: {{ room.callerRoom.callerId }}<br>
                                            {{ 'email.sip.pin'|trans }}: {{ sipPinFromRoomAndUser(room,room.moderator).callerId }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {{ room.moderator|nameOfUser }}
                        <span class="small">&nbsp;({{ 'Organisator'|trans }})</span></li>
                    <hr>
                    {% for user in room.user|sort((a, b) => a|nameOfUser <=> b|nameOfUser) %}
                        {% if user != room.moderator %}
                            <li class="d-flex flex-row align-items-center">
                                {% include'room/__attendeeDropDown.html.twig' with {'room': room, 'user': user} %}
                                <!-- Basic dropdown -->

                                <!-- Basic dropdown -->
                                <span class="profilePic"  style="background-image: url('{% if user.profilePicture is not null %}{{ vich_uploader_asset(user.profilePicture,'documentFile') }}{% else %}{{ asset('build/images/defaultUser.8f87824e.webp') }}{% endif %}')">

                                </span><span>{{ user|nameOfUser }}</span>
                                {% include'room/__attendeeIcons.html.twig' with {'room': room, 'user': user} %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                {% if room.waitinglists|length > 0 %}

                    <b>{{ 'Warteliste'|trans }}</b>
                    <hr>
                    <ul>
                        {% for w in room.waitinglists |sort((a, b) => a.createdAt <=> b.createdAt) %}
                            <li>{{ w.user.email }}
                                <a class="small directSend"
                                   href="{{ path('accept_waitingList',{'id':w.id}) }}"
                                   data-text="{{ 'Wollen Sie den Teilnehmer wirklich zur Konferenz hinzufügen'|trans }}"
                                   data-target="#atendeeList"
                                   data-url="{{ path('room_add_user',{'room':room.id}) }}"
                                ><i class="fa fa-check"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>


                {% endif %}
            </div>
            <hr>
            {{ include('room/__addAtendee.twig') }}
        </div>
    </div>
</div>
