<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>

        </div>
        <div class="modal-body">
            <p>Teilnehmerliste</p>
            <ul>
                <li>{{ room.moderator.email }} <span class="small">(Organisator)</span></li>
                {% for user in room.user %}
                    {% if user != room.moderator %}
                        <li>{{ user.email }} <a class="small confirmHref"
                                                href="{{ path('room_user_remove',{'room':room.id,'user':user.id}) }}">(Entfernen)</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr>
            <label for="searchUser">{{ 'Teilnehmer Suchen'|trans }}</label>
            <input autocomplete=off type="text" id="searchUser" class="form-control dropdown-toggle" href="{{ path('search_participant') }}"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu" id="participantUser">
                <a class="dropdown-item" href="#">{{ 'Tippen zum Suchen'|trans }}</a>
            </div>
            {{ form_start(form) }}
            {{ form_row(form.member) }}
            <div class="row">
                <div class="col-md-7">
                    {{ form_row(form.submit) }}
                </div>
                <div class="col-md-5">
                    <a class="btn btn-outline-danger" href="{{ path('dashboard') }}">
                        {{ 'Abbrechen' | trans }}
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
