<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ 'Serien Termin'|trans }}</h5>
             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            <div class="row">

                <div class="col-md-6">
                    {{ form(form.repeatType) }}
                </div>
                <div class="col-md-6">
                    <div id="repeater_0" class="repeater">
                        {{ form_row(form.repeaterDays) }}
                    </div>
                    <div id="repeater_1" class="d-none repeater">

                        {{ form_row(form.repeaterWeeks) }}
                    </div>
                    <div id="repeater_2" class="d-none repeater">
                        {{ form_row(form.repeatMontly) }}
                    </div>
                    <div id="repeater_3" class="d-none repeater">
                        {{ form_row(form.repatMonthRelativNumber) }}
                        {{ form_row(form.repatMonthRelativWeekday) }}
                        {{ form_row(form.repeatMonthlyRelativeHowOften) }}
                    </div>
                    <div id="repeater_4" class="d-none repeater">
                        {{ form_row(form.repeatYearly) }}
                    </div>
                    <div id="repeater_5" class="d-none repeater">
                        {{ form_row(form.repeatYearlyRelativeNumber) }}
                        {{ form_row(form.repeatYearlyRelativeWeekday) }}
                        {{ form_row(form.repeatYearlyRelativeMonth) }}
                        {{ form_row(form.repeatYearlyRelativeHowOften) }}
                    </div>

                </div>
                <div class="col-lg-12 text-center mt-4">
                    {{ form_row(form.repetation) }}
                </div>

                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>
