<!DOCTYPE html>
<html>
<head>
    <title>{{ room.name }}</title>
</head>
<body style="margin: 0">


<div id="jitsiWrapper">
    <div class="w-100" id="jitsiWindow">

    </div>
</div>
</body>
{% if name is defined and name is not null %}
    <script src='https://{{ room.server.url }}/external_api.js'></script>
    <script>
        const domain = '{{ room.server.url }}';
        const options = {
            roomName: '{{ room.uid }}',
            width: '100%',
            height: 700,
            parentNode: document.querySelector('#jitsiWindow'),
            jwt: '{{ jwtFromRoom(user,room,name) }}',
            userInfo: {
                displayName: '{{ name }}'
            }
        };

        var conferenzeName = '{{ room.name }}';
        var topic = {{ mercure(absolute_url(path('lobby_moderator',{'uid':room.uidReal})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};
        var topicBroadcast = {{ mercure(absolute_url(path('lobby_broadcast_websocket',{'roomUid':room.uidReal})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};
        api = new JitsiMeetExternalAPI(domain, options);
        var iframe = document.querySelector('#jitsiConferenceFrame0');
        iframe.style.height = '100vh';
    </script>
{% endif %}

</html>