<!DOCTYPE html>
<html>
<head>
    <title>{{ room.name }}</title>
    {% set theme =  getThemeProperties() %}
    {% if theme %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ theme.icon }}">
    {% else %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

</head>
<body style="margin: 0">

<div class="w-100" id="jitsiWindow" style="height: 500px; overflow: hidden">

</div>
</body>
{% if name is defined and name is not null %}
    <script>
        if ({{ room.server.corsHeader }}) {
            window.location.replace("{{ urlFromRoom(user,room, name,'b') }}");
        }
    </script>

    <script src='https://{{ room.server.url }}/external_api.js'></script>
    <script>
        const domain = '{{ room.server.url }}';
        const options = {
            roomName: '{{ room.uid }}',
            width: '100%',
            height: 700,
            configOverwrite: {
                disableDeepLinking: true,

            },
            interfaceConfigOverwrite: {
                MOBILE_APP_PROMO: false,
            },

            parentNode: document.querySelector('#jitsiWindow'),
            {% if room.server.appId is not null %}
            jwt: '{{ jwtFromRoom(user,room,name) }}',
        {% endif %}
            userInfo: {
                displayName: '{{ name }}'
            }
        };
        var conferenzeName = '{{ room.name }}';
        var topic = {{ mercure(absolute_url(path('lobby_moderator',{'uid':room.uidReal})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};
        var topicBroadcast = {{ mercure(absolute_url(path('lobby_broadcast_websocket',{'roomUid':room.uidReal})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};

        api = new JitsiMeetExternalAPI(domain, options);
        document.getElementById('jitsiWindow').style.height=window.innerHeight+"px";

        var iframe = document.querySelector('#jitsiConferenceFrame0');
        iframe.style.height = '100vh';
    </script>

{% endif %}

</html>