<div class="card favorites {% if r in runningRooms %} successBorder {% endif %}">
    <div class="card-background"></div>
    <div class="card-body d-flex flex-column justify-content-between">

        <h6 class="card-title favoriteTitle">
            {{ room.name }}
            <small>
                <a href="{{ path('room_favorite_toogle',{'uid':room.uidReal}) }}"><i class="fa fa-star"></i> </a>
            </small>
        </h6>
        {% if RoomStatusOpen(room) == false %}
        <p><small>
                {% if room.persistantRoom != true and room.scheduleMeeting != true %}
                    {{ room.getStartwithTimeZone(app.user)|date('d.m.Y H:i') }}
                {% endif %}
                {% if room.scheduleMeeting == true %}
                    {{ 'Terminplanung'|trans }}
                {% endif %}
                {% if room.persistantRoom == true %}
                    {{ 'fixed.Room.name'|trans }}
                {% endif %}
            </small></p>
        {% endif %}
        {% if RoomStatusOpen(room) == true %}

                <div class="occupant">
                    <div class="number">
                        <small>{{ 'status.inconference.number'|trans( {'{number}' : RoomStatusOccupats(room)|length}) }}</small>
                    </div>
                    <div class="text">
                    <small>{{ 'status.inconference'|trans }}</small>
                    </div>
                </div>

        {% endif %}


        {% if room.scheduleMeeting != true %}
            <div class="startConferenceFromFavorite">
                {% if getApplicationProperties('start_dropdown_allow_app') == 1 and getApplicationProperties('start_dropdown_allow_browser') == 1 %}

                    <button class="d-none d-lg-block caretdown btn btn-outline-primary dropdown-toggle start-dropdown" type="button"
                            id="dropdownMenu1"
                            data-mdb-toggle="dropdown" data-offset="-20,0" aria-haspopup="true"
                            aria-expanded="false">{{ 'Starten'|trans }}
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item {% if getApplicationProperties('LAF_USE_MULTIFRAME') == 1 %}startIframe{% endif %}" href="{{ path('room_join',{'room':room.id,'t':'b'}) }}" data-roomname="{{ room.name }}">{{ 'Im Browser'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('room_join',{'room':room.id,'t':'a'}) }}" rel=opener
                           target="_blank">{{ 'In der App'|trans }}</a>
                    </div>

                    <a class="btn btn-outline-primary bt-sm  d-lg-none {% if getApplicationProperties('LAF_USE_MULTIFRAME') == 1 %}startIframe{% endif %}" data-roomname="{{ room.name }}"
                       href="{{ path('room_join',{'t':'b','room':room.id}) }}"
                       target="_blank">{{ 'Starten'|trans }}</a>

                {% elseif getApplicationProperties('start_dropdown_allow_app') == 1 %}
                    <a class="btn btn-outline-primary dropdown-toggle btn-sm" rel=opener
                       href="{{ path('room_join',{'room':room.id,'t':'a'}) }}" target="_blank">{{ 'Starten'|trans }}</a>
                {% elseif getApplicationProperties('start_dropdown_allow_browser') == 1 %}
                    <a class="btn btn-outline-primary dropdown-toggle btn-sm {% if getApplicationProperties('LAF_USE_MULTIFRAME') == 1 %}startIframe{% endif %}" data-roomname="{{ room.name }}"
                       href="{{ path('room_join',{'room':room.id,'t':'b'}) }}" target="_blank">{{ 'Starten'|trans }}</a>
                {% endif %}
            </div>
        {% else %}
            <div class="test">
                <a
                        {% if isAllowedToOrganize(room,app.user) %}
                            class="loadContent btn btn-outline-primary dropdown-toggle btn-sm"
                            href="{{ path('schedule_admin',{'id':room.id}) }}"
                        {% else %}
                            class="btn btn-outline-primary dropdown-toggle btn-sm"
                            href="{{ path('schedule_public_main',{'scheduleId':room.schedulings[0].uid,'userId':app.user.uid}) }}" target="_blank"
                        {% endif %}
                ><i class="fa fa-calendar"></i></a>
            </div>
        {% endif %}
    </div>
</div>
