<div class="profile" style="--profile-color: #{{ app.user.username|colorFromString }}">
    <div class="profileLine" id="profilLine" data-status="{{ getOnlineStatus(app.user) }}">

        {{ include('base/__topnav.html.twig') }}

        <div class="icons" id="profileIcons">
            {% if laf_CreateServerOpenToEveryone == 1 or (laf_keycloakGroupToCreateServer in app.user.groups) %}
                {% if getThemeProperties() == false or getThemeProperties().disableAddServer != true %}
                    <a class="btn btn-outline-secondary btn-dashboard" data-mdb-modal-init data-mdb-target="#settings" title="{{ 'Server'|trans }}">
                        <i class="fa-solid fa-server"></i>
                    </a>
                {% endif %}
            {% endif %}
            <a class="btn btn-outline-secondary btn-dashboard toggleDarkmode" href="#" title="{{ 'Darkmode'|trans }}">
                {% if app.request.cookies.get('DARK_MODE') is defined and app.request.cookies.get('DARK_MODE') == 1 %}
                    <i class="fas fa-moon"></i>
                {% else %}
                    <i class="fas fa-sun"></i>
                {% endif %}
            </a>
            <a class="btn btn-outline-secondary btn-dashboard" data-mdb-modal-init data-mdb-target="#sideModalTR" id="toggleProfile" title="{{ 'Einstellungen'|trans }}">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>

        <div class="picture dropdown onlineSelector">
            <a
                    data-uid="{{ app.user.uid }}"
                    type="button"
                    id="onlineSelector"
                    data-mdb-dropdown-init
                    aria-expanded="false"
                    class="pic-toggle"
            >
                {% if getApplicationProperties('LAF_HIDE_PROFILEPICTURE') == 0 %}
                    {% if app.user.profilePicture %}
                        <img src="{{ vich_uploader_asset(app.user.profilePicture,'documentFile') }}" class="pic-content">
                    {% else %}
                        <div class="d-flex justify-content-center align-items-center w-100 h-100 pic-content no-picture"
                             style="background-color: #{{ app.user.username|colorFromString }}; color: white; font-size: 2em">
                            {{ app.user|nameOfUserNoSymbol[:2]|upper }}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="d-flex justify-content-center align-items-center w-100 h-100 pic-content"
                         style="background-color: #{{ app.user.username|colorFromString }}; color: white; font-size: 2em">
                        {{ app.user|nameOfUserNoSymbol[:2]|upper }}
                    </div>
                {% endif %}
                <div class="dot with-icon"></div>
            </a>
            <ul class="dropdown-menu" aria-labelledby="onlineSelector">
                <li><a class="dropdown-item changeStatus" data-status="online"
                       href="{{ path('app_online_status',{'status':1}) }}">
                        <div class="dot"></div>{{ 'status.online'|trans }}</a></li>
                <li><a class="dropdown-item changeStatus" data-status="away"
                       href="{{ path('app_online_status',{'status':1}) }}">
                        <div class="dot"></div>{{ 'status.away'|trans }}</a>
                </li>
                <li><a class="dropdown-item changeStatus" data-status="offline"
                       href="{{ path('app_online_status',{'status':0}) }}">
                        <div class="dot"></div>{{ 'status.offline'|trans }}</a></li>
                <li><a class="dropdown-item changeStatus" data-status="inMeeting"
                       href="{{ path('app_online_status',{'status':1}) }}">
                        <div class="dot"></div>{{ 'status.inMeeting'|trans }}</a></li>
            </ul>
        </div>

    </div>

</div>