{% if dropdown_settings_series_type == 1 %}
    <li><a class="dropdown-item loadContent"
           href="{{ path('repeater_edit_repeater',{'repeat':room.repeater.id}) }}">
            {{ 'Serienart bearbeiten'|trans }}</a></li>
{% endif %}
{% if dropdown_settings_series_edit_one == 1 %}
    {% if room.endTimestamp > date().timestamp %}
        <li><a href="{{ path('repeater_edit_room',{'id':room.id,'type':'single'}) }}"
               class="loadContent dropdown-item">
                {{ 'Einzelnes Serienelement bearbeiten'|trans }}</a></li>
    {% endif %}
{% endif %}
{% if dropdown_settings_series_edit_all == 1 %}
    <li><a href="{{ path('repeater_edit_room',{'id':room.id,'type':'all'}) }}"
           class="loadContent dropdown-item">
            {{ 'Alle Serienelemente bearbeiten'|trans }}</a></li>
{% endif %}

{% if dropdown_settings_mail_to_all == 1 %}
    <li><a class="dropdown-item"
           href="mailto:?bcc={% for u in room.user %}{{ u.email }}{% if not loop.last %};{% endif %}{% endfor %}">
            {{ 'Mail an die Teilnehmer'|trans }}</a></li>
{% endif %}

{% if dropdown_settings_generate_report == 1 %}
    <li><a class="dropdown-item loadContent {% if room.roomstatuses|length == 0 %}disabled{% endif %}"
           href="{{ path('app_report_create',{'id':room.id}) }}">
            {{ 'report.dropdown.item'|trans }}</a>
    </li>
{% endif %}
{% if dropdown_settings_series_delete_one == 1 %}
    <li><a class="dropdown-item confirmHref"
           href="{{ path('room_remove',{'room':room.id}) }}"
           data-text="{{ 'confirm.delete.room'|trans }}">
            {{ 'Löschen'|trans }}</a>
    </li>

{% endif %}
{% if dropdown_settings_series_delete == 1 %}
    <li><a class="dropdown-item confirmHref"
           href="{{ path('repeater_remove',{'repeat':room.repeater.id}) }}"
           data-text="{{ 'confirm.delete.series'|trans }}">
            {{ 'Serie löschen'|trans }}</a></li>
{% endif %}