{% if dropdown_settings_series_type == 1 %}
    <li><a class="dropdown-item loadContent"
           href="{{ path('repeater_edit_repeater',{'repeat':room.repeater.id}) }}">
            {{ 'Serienart bearbeiten'|trans }}</a></li>
{% endif %}
{% if dropdown_settings_series_edit_all == 1 %}
    <li><a href="{{ path('repeater_edit_room',{'id':room.id,'type':'all'}) }}"
           class="loadContent dropdown-item">
            {{ 'Alle Serienelemente bearbeiten'|trans }}</a></li>
{% endif %}
{% if dropdown_settings_series_adit_one == 1 %}
    <li><a href="{{ path('repeater_edit_room',{'id':room.id,'type':'single'}) }}"
           class="loadContent dropdown-item">
            {{ 'Einzelnes Serienelement bearbeiten'|trans }}</a></li>
{% endif %}
{% if dropdown_settings_series_delete == 1 %}
    <li><a class="dropdown-item confirmHref"
           href="{{ path('repeater_remove',{'repeat':room.repeater.id}) }}">
            {{ 'Serie löschen'|trans }}</a></li>
{% endif %}
<li><a class="dropdown-item confirmHref"
       href="{{ path('room_remove',{'room':room.id}) }}">
        {{ 'Löschen'|trans }}</a></li>

