<div class="calloutsymbol d-flex position-relative shadow-2">
    <div class="content  p-2 shadow-2 position-absolute">
        <div class="participantsName d-flex flex-column">
            {% if cU.state > 15 %}
                <p class="badge badge-warning">
                    {% if cU.state == 30 %}
                        {{ 'callout.status.occupied'|trans }}
                    {% elseif cU.state == 40 %}
                        {{ 'callout.status.later'|trans }}
                    {% elseif cU.state == 50 %}
                        {{ 'callout.status.timeout'|trans }}
                    {% endif %}
                </p>
           {% endif %}
            {{ nameOfUserwithFormat(cU.user, laf_showNameFrontend) }}
            {% if cU.leftRetries == 0 %}
                <p class="badge badge-warning no-more-retries">{{ 'callout.info.noMoreRetries'|trans }}</p>
            {% endif %}
        </div>
    </div>
    <div class="ringingsymbol p-2">
        {% if cU.state <= 10 %}
            <i class="fa-2x fa-solid fa-phone text-success fa-fw"></i>
        {% elseif cU.state <= 15 %}
            <i class="fa-2x fa-fw fa-regular fa-bell text-success "></i>
        {% else %}
            <i class="fa-2x fa-solid fa-phone-slash text-warning fa-fw"></i>
        {% endif %}
    </div>

</div>






