<ul class="dropdown-menu" style="min-width: 250px;" aria-labelledby="dropdownMenu2">
    {% if getApplicationProperties('LAF_LOBBY_ALLOW_CUSTOM_MESSAGES') == 1 %}
        <li class="p-1 pt-2">
            <div class="input-group  w-100">
                <div class="form-outline bg-white flex-grow-1">
                    <input
                           type="text"
                           autocomplete=off
                           id="sendMessageToWaitingUser{{ uid }}"
                           class="form-control sendMessageToWaitingUserInput"
                           placeholder="{{ 'lobby.message.placeholder'|trans }}"
                           data-url="{{ url }}"
                           data-uid="{{uid }}"
                    />
                    <label class="form-label"
                           for="sendMessageToWaitingUser{{ uid }}">{{ 'lobby.message.label'|trans }}</label>

                </div>
                <button class="btn btn-primary sendMessageToWaitingUserBtn"
                        type="button"
                        data-mdb-ripple-color="dark"
                        disabled="disabled"

                >
                    <i class="fas fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </li>
    {% endif %}
    {% for m in getPredefinedMessages() %}
        <li>
            <button
                    data-url="{{ url }}"
                    data-id="{{ m.id }}"
                    class="dropdown-item sendMessageToWaitingUserPredefined"
                    type="button"
                    data-uid="{{ uid }}"
            >{{ m.text }}</button>
        </li>
    {% endfor %}

</ul>

