{% extends 'join/base_fluid.html.twig' %}
{% block header %}
    <h1 class="h1-responsive text-center">{% trans with {'{name}':room.name} %}Lobby für die Konferenz: {name}{% endtrans %}</h1>
{% endblock %}
{% block content %}

    <div class="col-lg-3">
        <div class="row mb-4">
            <div class="col-12">
                {% if start_dropdown_allow_app == 1 and start_dropdown_allow_browser == 1 %}
                    <div class="dropdown d-none d-lg-block ">
                        <button class="caretdown btn btn-primary dropdown-toggle" type="button"
                                id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{ 'Starten'|trans }}
                        </button>
                        <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1">
                            <li><a class="dropdown-item" href="{{ path('lobby_moderator_start',{'t':'b','room':room.id}) }}"
                                   target="_blank">{{ 'Im Browser'|trans }}</a></li>
                            <li><a class="dropdown-item" title="In der Electron Jitsi Meet App"
                                   href="{{ path('lobby_moderator_start',{'t':'a','room':room.id}) }}"
                                   target="_blank">{{ 'In der App'|trans }}</a></li>
                        </ul>
                    </div>
                {% elseif start_dropdown_allow_app == 1 %}
                    <div class="d-none d-lg-block ">
                        <a class="btn btn-primary"
                           href="{{ path('lobby_moderator_start',{'t':'a','room':room.id}) }}"
                           target="_blank">{{ 'Starten'|trans }}</a>
                    </div>
                {% elseif start_dropdown_allow_browser == 1 %}
                    <div class="d-none d-lg-block ">
                        <a class="btn btn-primary"
                           href="{{ path('lobby_moderator_start',{'t':'b','room':room.id}) }}"
                           target="_blank">{{ 'Starten'|trans }}</a>
                    </div>
                {% endif %}

                <div class="d-block d-lg-none">
                    <a class="btn btn-primary"
                       href="{{ path('lobby_moderator_start',{'t':'b','room':room.id}) }}"
                       target="_blank">{{ 'Starten'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="card webcamArea">
            <video autoplay="true" id="lobbyWebcam"></video>
            <div class="webcamToolbar">
                <i class="fa fa-video" id="webcamSwitch"></i>
                {{ app.user.formatedName(laf_showNameInConference) }}
                {% if app.user == room.moderator %}
                    <i class="fa fa-star"></i>
                {% endif %}
            </div>

        </div>
        <a class="caretdown btn btn-primary dropdown-toggle" type="button"
           id="selectWebcamDropdown"
           data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{{ 'Keine Webcam gefunden'|trans }}
        </a>
        <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1" id="webcamSelect">
        </ul>

    </div>
    <div class="col-lg-9">

    </div>



{% endblock %}
{% block script %}

    <script>
    var topic= {{ mercure(absolute_url(path('lobby_moderator',{'uid':room.uid})))|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }};

    </script>

{% endblock %}
{% block webpack %}

    {{ encore_entry_script_tags('lobbyModerator') }}
{% endblock %}
