{% extends 'join/base_fluid.html.twig' %}
{% block header %}
    {% trans with {'{name}':room.name} %}lobby.moderator.title{% endtrans %}
{% endblock %}
{% block content %}
    <div class="col-12 lobbyCard">
        <div id="jitsiWrapper">
            <div class="w-100" id="jitsiWindow">

            </div>
            <div class="row lobbyWindow" id="lobbyWindow">
                <div class="col-lg-3 col-md-6" id="colWebcam">
                    <div class="card webcamArea">
                        <video autoplay="true" id="lobbyWebcam"></video>
                        <div class="webcamToolbar">
                            <i class="fa fa-video" id="webcamSwitch"></i>
                            {{ user.formatedName(laf_showNameInConference) }}
                            {% if user == room.moderator %}
                                <i class="fa fa-crown"></i>
                            {% endif %}
                        </div>
                    </div>

                    <div class="d-grid">
                        <a class="caretdown btn btn-block btn-primary dropdown-toggle" type="button"
                           id="selectWebcamDropdown"
                           data-mdb-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-video"></i><span
                                    class=" d-flex w-100     justify-content-center text-center">{{ 'lobby.noWebCamFound'|trans }}</span>
                        </a>
                        <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1" id="webcamSelect">
                        </ul>


                        <div class="btn-group">

                            <a href="#" type="button" class="btn btn-primary dropdown-toggle caretdown"
                               data-mdb-toggle="dropdown"
                               data-mdb-reference="parent"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-microphone"></i>
                            </a>
                            <div class="dropdown-menu">
                                <div id="audioInputSelect">
                                    <a href="#" class="dropdown-item"><b>{{ 'lobby.echo.input'|trans }}</b></a>
                                </div>
                            </div>
                            <a href="#" type="button" class="btn btn-primary" id="startEcho"
                               data-texton="{{ 'lobby.start.echo'|trans }}"
                               data-textoff="{{ 'lobby.stop.echo'|trans }}">{{ 'lobby.start.echo'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6" id="col-waitinglist">
                    <div class="row d-md-none ">
                        <div class="col-lg-12 text-center">
                            <p><small>{{ 'Swipen zum zulassen'|trans }}</small></p>
                        </div>
                    </div>
                    <div id="waitingUserWrapper">
                        <div id="waitingUser" class="row mb-3">
                            {% for wU in room.lobbyWaitungUsers %}
                                {% include 'lobby/__lobbyParticipants.html.twig' with {'wu':wU} %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="lobbyButtons">
                        {% if type == 'a' %}
                            <a class="btn btn-primary d-block start-btn"
                               href="{{ path('lobby_moderator_start',{'t':'a','room':room.uidReal}) }}"
                               target="_blank">
                                <i class="fa fa-play"></i> {{ 'jitsi.start'|trans }}
                            </a>
                        {% elseif type == 'b' %}
                            {% if room.server.corsHeader %}
                                <a class="btn btn-primary d-block start-btn"
                                   href="{{ path('lobby_moderator_start',{'t':'b','room':room.uidReal}) }}"
                                   target="_blank">
                                    <i class="fa fa-play"></i> {{ 'jitsi.start'|trans }}
                                </a>
                            {% else %}
                                <a class="btn btn-primary btn-block  startIframe d-block start-btn"
                                   href="{{ path('lobby_moderator_start',{'t':'b','room':room.uidReal}) }}"
                                   target="_blank">
                                    <i class="fa fa-play"></i> {{ 'jitsi.start'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}

                        <a class="btn btn-success btn-block  directSend"
                           href="{{ path('lobby_moderator_accept_all',{'roomId':room.uidReal}) }}">{{ 'lobby.allowAllUsers'|trans }}</a>
                    </div>


                </div>

            </div>

        </div>
    </div>





{% endblock %}
{% block script %}
    {% if name is defined and name is not null %}
        <script src='https://{{ room.server.url }}/external_api.js'></script>
        <script>
            var hangupQuestion = "{{ 'lobby.endMeeting.ask'|trans }}";
            var endMeetingUrl = "{{ path('lobby_Moderator_endMeeting',{'roomUid':room.uidReal}) }}";
            var endMeetingText = "{{ 'lobby.endMeeting'|trans }}";
            var hangupText = "{{ 'lobby.hangup'|trans }}";
            const domain = '{{ room.server.url }}';
            const options = {
                roomName: '{{ room.uid }}',
                width: '100%',
                height: 700,
                configOverwrite: {
                    prejoinPageEnabled: false,
                    disableBeforeUnloadHandlers: true,
                    buttonsWithNotifyClick: [
                        'hangup',
                        '__end'
                    ]
                },
                interfaceConfigOverwrite: {
                    MOBILE_APP_PROMO: false,
                    SHOW_JITSI_WATERMARK: false,
                    HIDE_DEEP_LINKING_LOGO: true,
                    SHOW_BRAND_WATERMARK: false,
                    SHOW_WATERMARK_FOR_GUESTS: false
                },
                parentNode: document.querySelector('#jitsiWindow'),
                {% if room.server.appId is not null %}
                jwt: '{{ jwtFromRoom(user,room,name) }}',
                {% endif %}
                userInfo: {
                    displayName: '{{ name }}',
                    {% if user is not null and  user.profilePicture is not null %}
                    avatarUrl: '{{ vich_uploader_asset(user.profilePicture,'documentFile') }}',
                    {% endif %}
                }
            };

            var conferenzeName = '{{ room.name }}';

            var topic =
                    {% if app.user is defined and app.user is not null %}
                    {{ mercure([
                        'lobby_moderator/'~room.uidReal,
                        'lobby_broadcast_websocket/'~ room.uidReal,
                        'lobby_personal'~room.uidReal~app.user.uid])|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
                    {% else %}
                    {{ mercure([
                        'lobby_moderator/'~room.uidReal,
                        'lobby_broadcast_websocket/'~ room.uidReal])|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}

                    {% endif %}
            ;
        </script>
    {% endif %}
{% endblock %}
{% block webpack %}

    {{ encore_entry_script_tags('lobbyModerator') }}
{% endblock %}
