<style>
    .form-group{
        margin-bottom: 0;
    }
</style>
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
             <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            <div class="row d-flex align-items-center">
                <div class="col-lg-8 ">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.submit) }}
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="form-group">
                        <input type="text" id="searchAddressGroup" placeholder="{{ 'Suche'|trans }}" class="form-control">
                    </div>
                </div>

                <div class="col-lg-12 mt-2">
                    <ul class="list-group" id="addressGroupList">
                        {%  for member in form.member %}
                            <li class="list-group-item">
                                {{ form_widget(member)|raw }}

                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

