<!DOCTYPE html>
<html>

{{ include('base/__head.html.twig') }}
<script>
    var importBBB = true
</script>

{% if laf_bbb == 0 %}
    <script>
        var importBBB = false
    </script>
{% endif %}


<body>

<div id="mainContent" class="wrapper">

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="{{ path('dashboard') }}">
                    <img class="d-none d-sm-block" src="{{ asset('logo.png') }}" alt="Logo"
                         style="height: 40px; width: auto">
                    <img class="d-block d-sm-none" src="{{ asset('logo_small.png') }}" alt="Logo"
                         style="height: 40px; width: auto">
                </a>
                {% block CTA %}{% endblock %}
                {{ include('base/__topnav.html.twig') }}

            </div>
        </nav>
        {% block body %}{% endblock %}

        {{ include('base/__addressBookModal.html.twig') }}
        {{ include('servers/__serverModal.html.twig') }}
        {{ include('base/__profileModal.html.twig') }}
        {{ include('base/__snack.html.twig') }}
        {{ include('base/__footer.html.twig') }}
    </div>


    <div class="modal fade" id="loadContentModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loadContentModal"
         aria-hidden="true">
    </div>
</div>
<!-- Dark Overlay element -->
<div class="overlay"></div>
<script>
    var moreFeatureUrl = '{{ path('more_features') }}';
    var notificationUrl = "{{ laf_notificationUrl }}";
</script>
{{ include('base/__script.html.twig') }}
{% block javascripts %}{% endblock %}
</body>

</html>
