<!DOCTYPE html>
<html>
{% set theme =  getThemeProperties() %}
{{ include('base/__head.html.twig') }}

<script>
    var importBBB = true
</script>

{% if getApplicationProperties('laf_bbb') == 0 %}
    <script>
        var importBBB = false
    </script>
{% endif %}


<body {% if app.request.cookies.get('DARK_MODE') is defined and app.request.cookies.get('DARK_MODE') == 1 %}
    class="blackMode"{% endif %}>

<div id="mainContent" class="wrapper">

    <!-- Page Content  -->
    <div class="window" id="window">
        <div class="navigation fullwidth shadow-3 removeInIframe">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="{{ path('dashboard') }}">
                        {% if theme %}
                            <img class="d-none d-sm-block" src="{{ theme.logo }}" alt="Logo">
                            <img class="d-block d-sm-none" src="{{ theme.logo }}" alt="Logo">
                        {% else %}
                            <img class="d-none d-sm-block" src="{{ asset('logo.png') }}" alt="Logo">
                            <img class="d-block d-sm-none" src="{{ asset('logo_small.png') }}" alt="Logo">
                        {% endif %}
                    </a>
                </div>

                {% if theme != false %}
                    <p style="margin-bottom: 0; color:{{ theme.headerLineColor }}" class=" headerLine">
                        {{ theme.headerLine }}
                    </p>

                {% endif %}
                {% block CTA %}{% endblock %}
                {{ include('base/__topnav.html.twig') }}


            </div>
        </div>
        <div class="main">
            <div class="w-100 overflow-auto">
            <div class="container">
                <div class="fullwidth w-100 d-flex justify-content-end">

                    {% include('dashboard/widget/__profile_Dashboard.twig') %}


                </div>
                <div class="content">
                    <div class="sidebarToggle d-none">
                        <i class="fa fa-times fa-2x"></i>
                    </div>
                    <div class="sidebarToggle">
                        <i class="far fa-star fa-2x"></i>
                    </div>
                    <div class="sidebar" id="sidebar">

                        <div class="sidebarContent">
                            {% block sidebar %}{% endblock %}
                        </div>

                    </div>

                    <div class="body">

                        {% block body %}{% endblock %}
                    </div>


                </div>

            </div>
        </div>
            {{ include('base/__proTips.html.twig') }}
    </div>

        <div class="footer shadow-3 removeInIframe">
            {{ include('base/__footer.html.twig') }}

        </div>

    </div>


    {{ include('servers/__serverModal.html.twig') }}
    {{ include('base/__addressBookModal.html.twig') }}
    {{ include('base/__profileModal.html.twig') }}
    {{ include('base/__snack.html.twig') }}
    {{ include('base/__matomoOptOut.html.twig') }}
</div>


<div class="modal fade" id="loadContentModal" data-mdb-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="loadContentModal"
     aria-hidden="true">
</div>
<div class="modal fade" id="helpModal" data-mdb-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="helpModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  light-blue darken-3 white-text">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'Hilfe'|trans }}</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ getApplicationProperties('helpText')|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-mdb-dismiss="modal">{{ 'Schließen'|trans }}</button>

            </div>
        </div>
    </div>
</div>
<!-- Dark Overlay element -->

<script>
    var urlNotification = '{{ path('notification') }}';
    var moreFeatureUrl = '{{ path('more_features') }}';
    var notificationUrl = "{{ laf_notificationUrl }}";
    var bbbUrl = "{{ getApplicationProperties('laf_bbb_Url') }}";
    var refreshDashboardTime = {{ laf_refreshTimeDashboard }};
    var refreshDashboardUrl = '{{ path('dashboard') }}';
    var confirmTitle = "{{ 'confirm.title'|trans }}";
    var confirmCancel = "{{ 'confirm.cancel'|trans }}";
    var confirmOk = "{{ 'confirm.ok'|trans }}";
</script>
{% if theme and theme.extrahtml is defined %}
    {{ include(template_from_string(theme.extrahtml|raw)) }}
{% endif %}

{% block javascripts %}{% endblock %}
{{ include('base/__script.html.twig') }}
<style type="text/css">
    .woot-widget-bubble {
        z-index: 5 !important;
    }
</style>
</body>

</html>
