<!DOCTYPE html>
<html>

{{ include('base/__head.html.twig') }}

<body>

<div id="mainContent" class="wrapper">

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(90deg, #ffffff 20%, #e8e8e8 100%);">
            <div class="container-fluid">

                <img src="{{ asset('logo.png') }}" style="background-color: white; max-width: 20%">

                <!-- Button trigger modal -->
                <a class="d-inline-block d-lg-none mr-2"
                   type="button"
                   data-toggle="modal" data-target="#sideModalTR" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation">
                    <img src="{{ asset('images/settings.png') }}" style="max-height: 30px">
                </a>
                <!-- Button trigger modal -->
                <a class="d-inline-block d-lg-none ml-auto mr-2"
                   type="button"
                   data-toggle="modal" data-target="#sideModalTR" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation">
                    <img src="{{ asset('images/profil.svg') }}" style="max-height: 30px">
                </a>
                <a href="{{ path('app_logout') }}" class="d-lg-none"><img src="{{ asset('images/logout.svg') }}"
                                                                          style="max-height: 30px"></a>

                {% block CTA %}{% endblock %}

                {{ include('base/__topnav.html.twig') }}

            </div>
        </nav>
        {% block body %}{% endblock %}

        {{ include('base/__snack.html.twig') }}
        {{ include('base/__footer.html.twig') }}
    </div>


    <div class="modal fade" id="loadContentModal" tabindex="-1" role="dialog" aria-labelledby="loadContentModal"
         aria-hidden="true">

    </div>
</div>
<!-- Dark Overlay element -->
<div class="overlay"></div>
{{ include('base/__script.html.twig') }}
{% block javascripts %}{% endblock %}
</body>

</html>
