<ul class="nav navbar-nav">

    <div class="d-flex me-1">
        <li class="nav-item d-flex align-items-center me-4">

            <div class="d-flex justify-content-end">

                <span class="me-2"><i class="fas fa-sun brightmode"></i></span>
                <div class="form-check form-switch">
                    <input class="form-check-input switchDarkmode" type="checkbox" role="switch" id="switchDarkmode2"
                            {% if app.request is not null %}
                            {{ app.request.cookies.get('DARK_MODE') }}
                        {% if app.request.cookies.get('DARK_MODE') is defined and app.request.cookies.get('DARK_MODE') == 1 %}
                            checked
                        {% endif %}
                            {% endif %}/>
                    <label class="form-check-label" for="switchDarkmode2">
                        <i class="fas fa-moon"></i>
                    </label>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown language-dropdown">
            {% if app.request %}
                <a class=" dropdown-toggle ms-auto me-2 me-sm-4" data-mdb-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('/images/locale/'~app.request.locale~'.png') }}" class="iconSytle">
                </a>
                <div class="dropdown-menu language-dropdown-menue">
                    {% if theme == false or (theme is not null and 'de' in theme.profileAllowLanguages  ) %}
                        <a class="dropdown-item"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}"><img
                                    src="{{ asset('/images/locale/de.png') }}" class="iconSytle" alt="Deutsch"></a>
                    {% endif %}
                    {% if theme == false  or (theme is not null and 'en' in theme.profileAllowLanguages  ) %}
                        <a class="dropdown-item"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img
                                    src="{{ asset('/images/locale/en.png') }}" class="iconSytle" alt="English"></a>
                    {% endif %}
                    {% if theme == false  or (theme is not null and 'fr' in theme.profileAllowLanguages  ) %}
                        <a class="dropdown-item"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img
                                    src="{{ asset('/images/locale/fr.png') }}" class="iconSytle"
                                    alt="French"></a>
                    {% endif %}
                    {% if theme == false  or (theme is not null and 'es' in theme.profileAllowLanguages  ) %}
                        <a class="dropdown-item"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"><img
                                    src="{{ asset('/images/locale/es.png') }}" class="iconSytle" alt="Español"></a>
                    {% endif %}
                    {% if theme == false  or (theme is not null and 'vi' in theme.profileAllowLanguages  ) %}
                        <a class="dropdown-item"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'vi'})) }}"><img
                                    src="{{ asset('/images/locale/vi.png') }}" class="iconSytle"
                                    alt="Tiếng Việt"></a>
                    {% endif %}
                    {% if theme == false  or (theme is not null and 'zh' in theme.profileAllowLanguages  ) %}
                        <a class="dropdown-item"
                           href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'zh'})) }}"><img
                                    src="{{ asset('/images/locale/zh.png') }}" class="iconSytle" alt="中国人"></a>
                    {% endif %}

                </div>
            {% endif %}
        </li>
    </div>
</ul>

