<!DOCTYPE html>
<html>

{% set theme =  getThemeProperties() %}
{% include'base/__head.html.twig' with {'css':'join'} %}

{% set image = pexelsImage() %}
<body style="background-color: #C9C9C9">
<div class="imageBackground"></div>

{% block back %}{% endblock %}
<div id="content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">


            <img class="d-none d-sm-block" src="
                    {% if server is defined and  server is not null and server|validateLicense %}
                            {% if server.logoUrl is not null %}
                                {{ server.logoUrl }}
                            {% endif %}
                        {% else %}
                            {% if theme == false %}
                                {{ asset('logo.png') }}
                            {% endif %}
                              {{ theme.logo }}
                        {% endif %}"
                 alt="Logo"
                 style="height: 50px; width: auto">
            <img class="d-block d-sm-none" src="
                        {% if server is defined and  server is not null and server|validateLicense %}
                            {% if server.logoUrl is not null %}
                                {{ server.logoUrl }}
                            {% endif %}
                        {% else %}
                            {% if theme == false %}
                                {{ asset('logo_small.png') }}
                            {% endif %}
                              {{ theme.logo }}
                        {% endif %}
                    "
                 alt="Logo"
                 style="height: 50px; width: auto">


            {% if theme != false %}
                <p style="margin-bottom: 0; color:{{ theme.headerLineColor }}" class="d-none d-lg-block">
                    {{ theme.headerLine }}
                </p>

            {% endif %}
            {% if app.request %}
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown language-dropdown">
                    <a class=" dropdown-toggle ml-auto mr-2 mr-sm-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('/images/locale/'~app.request.locale~'.png') }}" class="iconSytle">
                    </a>
                    <div class="dropdown-menu language-dropdown-menue">
                        {% if theme == false or (theme is not null and 'de' in theme.profileAllowLanguages  ) %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}"><img
                                        src="{{ asset('/images/locale/de.png') }}" class="iconSytle" alt="Deutsch"></a>
                        {% endif %}
                        {% if theme == false  or (theme is not null and 'en' in theme.profileAllowLanguages  ) %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img
                                        src="{{ asset('/images/locale/en.png') }}" class="iconSytle" alt="English"></a>
                        {% endif %}
                        {% if theme == false  or (theme is not null and 'fr' in theme.profileAllowLanguages  ) %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img
                                        src="{{ asset('/images/locale/fr.png') }}" class="iconSytle" alt="French"></a>
                        {% endif %}
                        {% if theme == false  or (theme is not null and 'es' in theme.profileAllowLanguages  ) %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"><img
                                        src="{{ asset('/images/locale/es.png') }}" class="iconSytle" alt="Español"></a>
                        {% endif %}
                        {% if theme == false  or (theme is not null and 'vi' in theme.profileAllowLanguages  ) %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'vi'})) }}"><img
                                        src="{{ asset('/images/locale/vi.png') }}" class="iconSytle"
                                        alt="Tiếng Việt"></a>
                        {% endif %}
                        {% if theme == false  or (theme is not null and 'zh' in theme.profileAllowLanguages  ) %}
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'zh'})) }}"><img
                                        src="{{ asset('/images/locale/zh.png') }}" class="iconSytle" alt="中国人"></a>
                        {% endif %}

                    </div>
                </li>
            </ul>
            {% endif%}

        </div>
    </nav>
    {% block container %}
    <div class="container mb-5">
        {% endblock %}
        <div class="pt-5">


            <style>
                {% if server
                is defined and
                server is not null and
                server|validateLicense and
                server.showStaticBackgroundColor and
                server.staticBackgroundColor is not null %}
                .imageBackground {
                    background-color: {{ server.staticBackgroundColor }};
                    position: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    background-position: center;
                }

                {% elseif image is not null %}
                .imageBackground {
                    background-image: url("{{ image['src']['original'] }}?auto=compress&cs=tinysrgb&w=1920");
                    position: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    background-position: center;
                }

                {% endif %}
                @supports (-webkit-appearance:none) {
                    .frozenGlas {
                        background-color: rgba(255, 255, 255, 0.8);
                        backdrop-filter: blur(5px);
                    }
                }

                @supports (-moz-appearance:none) {
                    .frozenGlas {
                        background-color: white;

                    }
                }


            </style>
            <div class="row justify-content-center">
                {% block mainRow %}
                <div class="col-lg-10 ">
                    {% endblock %}

                    <div class="card frozenGlas">
                        <div class="glossy"></div>
                        <div class="card-body">
                            <div class="row ">

                                <div class="col-md-12 align-items-center d-flex">
                                    <h3 class="h3-responsive text-center w-100"> {% block header %}{% endblock %}</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-5">


                                {% block content %}{% endblock %}


                            </div>

                            <div class="row">
                                <div class="col-12 text-center">
                                    {% if not server %}
                                        <p>
                                            {% trans %}Wer eine datenschutzfreundliche Videokonferenz Plattform sucht die auf dem eigenen Server betrieben wird ist mit dem Open Source Tool Jitsi gut bedient. Jitsi ist eine Alternative zu Zoom. Sie speichert keine Nutzerdaten und ermöglicht die verschlüsselte Anwendung.{% endtrans %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-center">
                            {% if theme == false or (theme is not null and theme.allowHomePage == true) %}
                                <a href="{{ path('index') }}"
                                   class="btn btn-outline-danger btn-sm">{{ 'Startseite'|trans }}</a>
                            {% endif %}
                            {% if theme == false or (theme is not null and theme.allowDashboard == true) %}
                                <a href="{{ path('dashboard') }}"
                                   class="btn btn-outline-elegant btn-sm">{{ 'Dashboard'|trans }}</a>
                            {% endif %}
                            {% if theme == false or (theme is not null and theme.allowRegister == true) %}
                                <a href="{{ path('register_keycloak') }}"
                                   class="btn btn-outline-cyan btn-sm">{{ 'Registrieren'|trans }}</a>
                            {% endif %}
                            {% if theme == false or (theme is not null and theme.allowHelp == true) %}
                                <a href="{{ helpUrlParticipants }}" target="_blank"
                                   class="btn btn-outline-amber btn-sm">{{ 'Hilfe'|trans }}</a>
                            {% endif %}
                            {% if server is defined and  server is not null and server|validateLicense and server.showStaticBackgroundColor and server.staticBackgroundColor is not null %}

                            {% elseif image is not null %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="{{ image['photographer_url'] }}" target="_blank"
                                           referrerpolicy="no-referrer"
                                           rel="noreferrer noopener">
                                            Image by {{ image['photographer'] }} </a>
                                        <a href="https://www.pexels.com" target="_blank" referrerpolicy="no-referrer"
                                           rel="noreferrer noopener"> provided by <img height="30px"
                                                                                       src="{{ asset('images/pexels.png') }}"/>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if theme != false and theme.joinPageFooter == false %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        2019 - {{ 'now'|date('Y') }} • v{{ laf_version }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if server and server|roomsinFuture|length > 0 %}
                    <div class="col-lg-10 mt-3">
                        <div class="card frozenGlas">
                            <div class="glossy"></div>
                            <div class="card-body">
                                <h3 class="h3-responsive text-center">{{ 'Öffentliche Konferenzen'|trans }}</h3>
                                <div class="max-vh60">
                                    <ul class="list-group">

                                        {% for r in server|roomsinFuture %}
                                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                                <b>{{ r.start|date('d.m.Y, H:i') }}</b>
                                                <h5>{{ r.name }} <a tabindex="0" data-toggle="popover"
                                                                    data-trigger="focus"
                                                                    title="{{ 'Agenda'|trans }}"
                                                                    data-content="{% if r.agenda is not null %}{{ r.agenda|markdown_to_html|escape }}{% else %}{{ 'Keine Angabe'|trans }}{% endif %}"><i
                                                                class="fa fa-info-circle"></i></a></h5>

                                                {% if r.public %}
                                                    <a href="{{ path('public_subscribe_participant',{'uid':r.uidParticipant}) }}"
                                                       class="btn btn-sm btn-outline-primary">{{ 'Anmelden'|trans }}</a>
                                                {% endif %}
                                            </li>

                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>


            {{ include('base/__snack.html.twig') }}


        </div>
        {% if theme == false or theme.joinPageFooter == true %}
            <div class="row  mt-5">
                <div class="col-12   ">
                    <div class="card  card-body">
                        <div class="row ">
                            <div class="col-lg-4 footerContent">
                                {% if theme == false %}
                                    {% if server is defined and  server is not null and server|validateLicense %}
                                    {% else %}
                                        <a href="https://jitsi-admin.de" target="_blank"><img
                                                    src="{{ asset('logo.png') }}"></a>
                                    {% endif %}
                                {% else %}
                                    <img src="{{ theme.logo }}">
                                {% endif %}
                            </div>
                            <div class="col-lg-4 footerContent">

                                <p class="small text-center">
                                    {% if theme != false %}
                                        {% if theme.footerGdprEnable == true %}
                                            <a class="nav-link" target="_blank" referrerpolicy="no-referrer"
                                               href="{{ dataPrivacy }}">{{ theme.footerGdprText }}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ dataPrivacy }}" target="_blank"
                                        >{{ 'Datenschutzhinweis'|trans }}</a><br>
                                    {% endif %}

                                    {% if theme is not defined or theme == false %}
                                        <a href="https://jitsi-admin.de" target="_blank">Powered by Jitsi
                                            Admin</a><br>
                                    {% endif %}
                                    {% if matomo_enable == 'true' %}
                                        <a href="#" data-toggle="modal" data-target="#exampleModal">
                                            Matomo Opt-out
                                        </a><br>
                                    {% endif %}
                                    {% if theme != false %}
                                        {% if theme.footerReportIssueEnable == true %}
                                            <a href="{{ theme.footerContributionUrl }}"
                                               referrerpolicy="no-referrer" target="_blank">
                                                {{ theme.footerContributionText }} • 2019 - {{ 'now'|date('Y') }} •
                                                v{{ laf_version }}</a>
                                        {% else %}
                                            2019 - {{ 'now'|date('Y') }} • v{{ laf_version }}
                                        {% endif %}

                                    {% else %}
                                        <a href="https://h2-invent.com" target="_blank">Made with ❤ by H2 invent •
                                            2019-{{ 'now'|date('Y') }} • v{{ laf_version }}</a>
                                    {% endif %}
                                </p>
                            </div>
                            {% if theme is not defined or theme == false %}
                                <div class="col-lg-4 footerContent">

                                    <a href="https://github.com/H2-invent/jitsi-admin/blob/master/LICENSE"
                                       target="_blank"
                                       referrerpolicy="no-referrer" rel="noopener">
                                        <img src="{{ asset('images/agpl.png') }}"></a>
                                    <a href="https://opensource.org/" referrerpolicy="no-referrer" rel="noopener">
                                        <img src="{{ asset('images/open-source-logo.png') }}"></a>

                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {{ include('base/__matomoOptOut.html.twig') }}
</div>
<div class="modal fade" id="loadContentModal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="loadContentModal"
     aria-hidden="true">
</div>
<script>
    var confirmTitle = "{{ 'confirm.title'|trans }}";
    var confirmCancel = "{{ 'confirm.cancel'|trans }}";
    var confirmOk = "{{ 'confirm.ok'|trans }}";
</script>
{% block script %}
{% endblock %}
{% block webpack %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}

</body>

</html>
