<!DOCTYPE html>
<html>

{{ include('base/__head.html.twig') }}

<body>
{% block back %}{% endblock %}
<div style="background-image: url('{{ asset('images/bg-join.jpg') }}'); background-size: cover; min-height: 100vh">
    <div class="container">
        <div class="pt-5">
            {% block content %}{% endblock %}
        </div>
        <div class="card card-body mt-4 text-center">
            <div class="row">
                <div class="col-md-3 text-md-left">
                    <a href="https://open-datenschutzcenter.de" target="_blank" class="small"><img
                                src="{{ asset('logo.png') }}" style="height: 50px"></a>
                </div>
                <div class="col-md-6">
                    <a href="{{ dataPrivacy }}" target="_blank" class="small">Datenschutzhinweis</a><br>
                    <a href="https://open-datenschutzcenter.de" target="_blank" class="small">Powered by Jitsi Manager</a><br>
                    <a href="https://h2-invent.com" target="_blank" class="small">Made with ❤ by H2 invent •
                        2019-{{ 'now'|date('Y') }}
                        • v{{ laf_version }}</a>
                </div>
                <div class="col-md-3 text-md-right d-none d-sm-block">
                    <img src="{{ asset('images/open-source-logo.png') }}" style="height: 50px">
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>

{% block webpack %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}

<script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>

</body>

</html>
