<!DOCTYPE html>
<html>

{{ include('base/__head.html.twig') }}

<body style="background-color: #C9C9C9">
<div class="imageBackground"></div>
{% block back %}{% endblock %}
<div>
    <div class="container mb-5">
        <div class="pt-5">
            {% block content %}{% endblock %}
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-12">
                <div class="card card-body mt-4 text-center">
                    <div class="row">
                        <div class="col-md-3 text-md-left">

                            {% if server is defined and  server is not null and server|validateLicense %}

                            {% else %}
                                <a href="https://jitsi-admin.de" target="_blank" class="small"><img
                                            src="{{ asset('logo.png') }}" style="height: 50px"></a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <a href="{{ dataPrivacy }}" target="_blank"
                               class="small">{{ 'Datenschutzhinweis'|trans }}</a><br>
                            <a href="https://jitsi-admin.de" target="_blank" class="small">Powered by Jitsi
                                Admin</a><br>
                            {% if matomo_enable == 'true' %}
                                <a class="small" href="#" data-toggle="modal" data-target="#exampleModal">
                                    Matomo Opt-out
                                </a><br>
                            {% endif %}
                            <a href="https://h2-invent.com" target="_blank" class="small">Made with ❤ by H2 invent •
                                2019-{{ 'now'|date('Y') }}
                                • v{{ laf_version }}</a>
                        </div>
                        <div class="col-md-3 text-md-right d-none d-sm-block">
                            <img src="{{ asset('images/open-source-logo.png') }}" style="height: 50px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{ include('base/__matomoOptOut.html.twig') }}
</div>

{% block webpack %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}


</body>

</html>
