{% extends 'join/base.html.twig' %}
{% block header %}
    {{ 'Konferenz beitreten'|trans }}
{% endblock %}
{% block content %}
<div class="text-center">
        <p class="mb-4">
            {{ 'Füllen Sie das Formular aus um der Konferenz beizutreten'|trans }}
        </p>
        {{ form_start(form) }}
        {{ form_row(form.uid) }}
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        <div class="row form-group">
            <div class="col-12">
                {{ include('join/__datenschutz.html.twig',{'server':server,'dataPrivacy':dataPrivacy}) }}
            </div>
        </div>
        <div>
            {% if form.joinBrowser is defined %}
                {{ form_row(form.joinBrowser) }}
            {% endif %}
            {% if form.joinApp is defined %}
                {{ form_row(form.joinApp) }}
            {% endif %}
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}
