<div class="col-md-2">
    {% if room.tag is not null %}
        <span class="badge badge-danger d-block mb-2"
              style="color: {{ room.tag.color }}; background-color: {{ room.tag.backgroundColor }}">{{ room.tag.title }}</span>
    {% endif %}

    {% if RoomStatusOpen(room) == true %}
        <div class="occupant">
            <div class="number">
                <small>{{ 'status.inconference.number'|trans( {'{number}' : RoomStatusOccupats(room)}) }}</small>
            </div>
            <div class="text">
                {{ 'status.inconference'|trans }}
            </div>

        </div>
    {% endif %}
    {% if RoomStatusClosed(room) == true %}
        <div class="occupant text-danger">
            <div class="text">
                {{ 'status.finished'|trans }}
            </div>
        </div>
    {% endif %}
    {% if not (room.scheduleMeeting or room.persistantRoom) %}
        <h5 class="h5-responsive">{{ room.startwithTimeZone(app.user)|date('H:i',false) }}
            – {{ room.endwithTimeZone(app.user)|date('H:i',false) }}</h5>
        {% if getApplicationProperties('allowTimeZoneSwitch') == 1 and room.persistantRoom == false %}
            <p class="text-black-50 small"><small>{{ app.user.timeZone }}</small></p>
        {% endif %}
    {% endif %}
    {% if app.user == room.moderator %}
        <span class="badge badge-info"{% if theme %} style="background-color: {{ theme.colorBadgeModerator }} !important;" {% endif %}>{{ 'Organisator'|trans }}</span>
        <br>
    {% endif %}


    {% if app.user == room.scheduleMeeting %}
        <a
                {% if app.user == room.moderator %}
                    class="loadContent"
                    href="{{ path('schedule_admin',{'id':room.id}) }}"
                {% else %}
                    href="{{ path('schedule_public_main',{'scheduleId':room.schedulings[0].uid,'userId':app.user.uid}) }}" target="_blank"
                {% endif %}
        >
            <span class="badge badge-danger" {% if theme %} style="background-color: {{ theme.colorBadgeShedule }} !important;" {% endif %}>{{ 'Terminplanung'|trans }}</span>
        </a>
        <br>
    {% endif %}
    {% if app.user == room.onlyRegisteredUsers %}
        <span class="badge badge-warning" {% if theme %} style="background-color: {{ theme.colorBadgeInternal }} !important;" {% endif %}>{{ 'Intern'|trans }}</span>
        <br>
    {% endif %}

    {% if room.repeater is not null %}
        <span class="badge badge-warning" {% if theme %} style="background-color: {{ theme.colorBadgeSeries }} !important;" {% endif %}>{{ 'Serie'|trans }}</span>
        <br>
    {% endif %}

</div>
<div class="col-md-4">
    <h5 class="h5-responsive">

        {{ room.name }} <a href="{{ path('room_favorite_toogle',{'uid':room.uidReal}) }}"><i
                    class="{{ room in app.user.favorites?'text-success fa':'far' }} fa-star"></i> </a>
        <a tabindex="0"
           data-mdb-toggle="popover"
           data-mdb-trigger="focus"
           data-mdb-html="true"
           title="{{ 'Agenda'|trans }}"
           data-mdb-content="{% if room.agenda is not null %}{{ room.agenda|nl2br|markdown_to_html|escape }}{% else %}{{ 'Keine Angabe'|trans }}{% endif %}"><i
                    class="fa fa-info-circle"></i></a></h5>
    <p class="text-black-50 small">
        {{ 'Geplant von'|trans }}: {{ nameOfUserwithFormat(room.moderator, laf_showNameFrontend) }}<br>
        {% if servers|length > 1 %}
            {{ 'Server'|trans }}: {{ room.server.serverName }}<br>
        {% endif %}
        {{ 'Anzahl Eingeladene'|trans }}
        : {% if room.public and room.maxParticipants is not null %}{% trans with {'{from}':room.user|length, '{to}':room.maxParticipants} %}{from} von {to}{% endtrans %}{% else %}{{ room.user|length }}{% endif %}
        <br>
        {% if  getApplicationProperties('allowTimeZoneSwitch') == 1 and room.persistantRoom == false %}
            {{ 'Erstellt in Zeitzone'|trans }}: {{ room.timeZoneAuto }}
        {% endif %}
    </p>
</div>


