{% if isAllowedToOrganize(room,app.user) %}
    {{ include('dashboard/__roomOption.html.twig') }}


{% if  room.totalOpenRooms != true %}

    <a href="{{ path('room_add_user',{'room':room.id}) }}"
       class=" element btn btn-outline-default loadContent moderator-participants">{{ 'Teilnehmer'|trans }}</a>
{% endif %}
{% if isAllowedToOrganize(room,app.user) and room.totalOpenRooms == true %}
    <a href="{{ path('room_enter_link',{'uid':room.uid}) }}"
       class=" element btn btn-outline-default loadContent moderator-sharelink">{{ 'Beitretenlink'|trans }}</a>
{% endif %}

{% endif %}
