<div class="card card-body mb-1 text-lg-left text-center triggerHide">
    <div class="row">

        {% include 'dashboard/__roomDetails.html.twig' with {'room':room} %}

        <div class="col-md-6 hide">


            {% if room.moderator == app.user %}
                {{ include('dashboard/__roomOption.html.twig') }}
            {% endif %}

            {% if room.moderator == app.user %}
                <a href="{{ path('room_add_user',{'room':room.id}) }}"
                   class=" element btn btn-outline-default loadContent">Teilnehmer</a>
            {% else %}

                    <a href="{{ path('room_user_remove',{'room':room.id, 'user':app.user.id}) }}"
                       class="element btn btn-outline-default confirmHref">Entfernen</a>

            {% endif %}
            <div class="dropdown d-none d-lg-block ">
                <button class="btn btn-primary dropdown-toggle" type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                    Starten
                </button>

                <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ path('room_join',{'t':'b','room':room.id}) }}"
                           target="_blank">Im
                            Browser</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a title="In der Electron Jitsi Meet App"
                           href="{{ path('room_join',{'t':'a','room':room.id}) }}"
                           target="_blank">In
                            der App</a></li>
                </ul>
            </div>
            <div class="d-block d-lg-none">
                <a class="btn btn-primary"
                   href="{{ path('room_join',{'t':'b','room':room.id}) }}"
                   target="_blank">Starten</a>
            </div>
        </div>
    </div>
</div>

