{% if room.scheduleMeeting %}

    {% if app.user != room.moderator %}

        <a class="element btn btn-outline-primary"
           href="{{ path('schedule_public_main',{'scheduleId':room.schedulings[0].uid,'userId':app.user.uid}) }}"
           target="_blank">
            {{ 'Terminplanung'|trans }}
        </a>
    {% endif %}

{% endif %}
            {% if app.user != room.moderator %}
                <a href="{{ path('room_user_remove',{'room':room.id, 'user':app.user.id}) }}"
                   class="element btn btn-outline-default confirmHref"
                   data-text="{{ 'confirm.delete.room'|trans }}">
                    {{ 'Entfernen'|trans }}
                </a>
            {% endif %}
            {% if not room.scheduleMeeting %}
                {% include 'dashboard/__roomOptionStartButton.html.twig' with {'room':room} %}
            {% endif %}
