
{% if app.user != room.moderator %}
    <a href="{{ path('room_user_remove',{'room':room.id, 'user':app.user.id}) }}"
       class="element btn btn-outline-default confirmHref"
       data-text="{{ 'confirm.delete.room'|trans }}">
        {{ 'Entfernen'|trans }}
    </a>
{% endif %}
{% if (getApplicationProperties('LAF_SHOW_PARTICIPANTS_ON_PARTICIPANTS') == 1 and app.user != room.moderator) and room.totalOpenRooms != true %}
    <a href="{{ path('room_past_user',{'room':room.id}) }}"
       class=" element btn btn-outline-primary loadContent"><i class="fas fa-users"></i></a>
{% endif %}
{% if not room.scheduleMeeting %}

    {% include 'dashboard/__roomOptionStartButton.html.twig' with {'room':room} %}
{% endif %}
{% if room.scheduleMeeting %}
    <a class=" btn btn-outline-primary"
       href="{{ path('schedule_public_main',{'scheduleId':room.schedulings[0].uid,'userId':app.user.uid}) }}"
       target="_blank">
        {{ 'Terminplanung'|trans }}
    </a>

{% endif %}