<div class="dropdown element">
    <button class="btn caretdown btn-outline-secondary dropdown-toggle" type="button"
            id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        {{ 'Optionen'|trans }}
    </button>
    <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1">
        {% if room.scheduleMeeting %}
            <li><a class="dropdown-item loadContent"
                   href="{{ path('schedule_admin',{'id':room.id}) }}">
                {{ 'Terminplaner'|trans }}</a></li>{% endif %}
        {% if room.public %}
            <li><a class="dropdown-item loadContent"
                   href="{{ path('share_link',{'id':room.id}) }}">
                {{ 'Einladungslinks'|trans }}</a></li>{% endif %}
        <li><a class="dropdown-item confirmHref"
               href="{{ path('room_remove',{'room':room.id}) }}">
                {{ 'Löschen'|trans }}</a></li>
        {% if not room.scheduleMeeting %}
            <li><a href="{{ path('room_new',{'id':room.id}) }}"
                   class="loadContent dropdown-item">
                    {{ 'Bearbeiten'|trans }}</a></li>
            <li><a href="{{ path('room_clone',{'room':room.id}) }}"
                   class="loadContent dropdown-item">
                    {{ 'Duplizieren'|trans }}</a></li>
        {% endif %}
        {% if room.scheduleMeeting %}
            <li><a href="{{ path('schedule_admin_new',{'id':room.id}) }}"
                   class="loadContent dropdown-item">
                    {{ 'Bearbeiten'|trans }}</a></li>
        {% endif %}
        <li><a class="dropdown-item"
               href="mailto:?bcc={% for u in room.user %}{{ u.email}}{% if not loop.last %};{% endif %}{% endfor %}">
                {{ 'Mail an die Teilnehmer'|trans }}</a></li>
    </ul>
</div>