<div class="dropdown element">
    <button class="btn caretdown btn-outline-secondary dropdown-toggle" type="button"
            id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        {{ 'Optionen'|trans }}
    </button>
    <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1">
        {% if room.scheduleMeeting %}
            <li><a class="dropdown-item loadContent"
                   href="{{ path('schedule_admin',{'id':room.id}) }}">
                {{ 'Terminplaner'|trans }}</a></li>
        {% endif %}
        {% if room.public and room.repeater is null and room.totalOpenRooms != true %}
            <li><a class="dropdown-item loadContent"
                   href="{{ path('share_link',{'id':room.id}) }}">
                {{ 'Einladungslinks'|trans }}</a></li>
        {% endif %}

        <li><a class="dropdown-item confirmHref"
               href="{{ path('room_remove',{'room':room.id}) }}">
                {{ 'Löschen'|trans }}</a></li>
        {% if not room.scheduleMeeting %}
            {% if room.repeater is null %}
                <li><a href="{{ path('room_new',{'id':room.id}) }}"
                       class="loadContent dropdown-item">
                        {{ 'Bearbeiten'|trans }}</a></li>
            {% endif %}
            <li><a href="{{ path('room_clone',{'room':room.id}) }}"
                   class="loadContent dropdown-item">
                    {{ 'Duplizieren'|trans }}</a></li>
            {% if room.repeater is not null %}
                <li><a class="dropdown-item loadContent"
                       href="{{ path('repeater_edit_repeater',{'repeat':room.repeater.id}) }}">
                        {{ 'Serienart bearbeiten'|trans }}</a></li>
                <li><a href="{{ path('repeater_edit_room',{'id':room.id,'type':'all'}) }}"
                       class="loadContent dropdown-item">
                        {{ 'Alle Serienelemente bearbeiten'|trans }}</a></li>
                <li><a href="{{ path('repeater_edit_room',{'id':room.id,'type':'single'}) }}"
                       class="loadContent dropdown-item">
                        {{ 'Einzelnes Serienelement bearbeiten'|trans }}</a></li>
                <li><a class="dropdown-item confirmHref"
                       href="{{ path('repeater_remove',{'repeat':room.repeater.id}) }}">
                        {{ 'Serie löschen'|trans }}</a></li>

            {% else %}
                {% if not room.persistantRoom and room.totalOpenRooms != true %}
                <li><a class="dropdown-item loadContent"
                       href="{{ path('repeater_new',{'room':room.id}) }}">
                        {{ 'Neue Serien Termin'|trans }}</a></li>
                    {% endif %}
            {% endif %}
        {% endif %}
        {% if room.scheduleMeeting %}
            <li><a href="{{ path('schedule_admin_new',{'id':room.id}) }}"
                   class="loadContent dropdown-item">
                    {{ 'Bearbeiten'|trans }}</a></li>
        {% endif %}
        {% if room.totalOpenRooms != true  %}
        <li><a class="dropdown-item"
               href="mailto:?bcc={% for u in room.user %}{{ u.email }}{% if not loop.last %};{% endif %}{% endfor %}">
                {{ 'Mail an die Teilnehmer'|trans }}</a></li>
        {% endif %}
    </ul>
</div>