<div class="card card-body mb-1 text-lg-left text-center">
    <div class="row">
        <div class="col-md-2">
            <h4 class="h4-responsive">{{ room.start|date('H:i') }} - {{ room.enddate|date('H:i') }}</h4>
            {% if room in runningRooms %}<small class="badge badge-success">Läuft
                gerade</small><br>{% endif %}
            {% if app.user == room.moderator %}
                <span class="badge badge-info">Moderator</span>{% endif %} <br>
        </div>
        <div class="col-md-6">
            <h4>{{ room.name }}</h4>
            <p class="text-black-50 small">
                Moderator: {{ room.moderator.firstName }} {{ room.moderator.lastName }}<br>
                Server: {{ room.server.url }}<br>
                Anzahl Teilnehmer: {{ room.user|length }}
            </p>
        </div>
        <div class="col-md-2">
            {% if room.moderator == app.user %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Optionen
                    </button>
                    <ul class="dropdown-menu p-1 " aria-labelledby="dropdownMenu1">
                        <li><a class="confirmHref"
                               href="{{ path('room_remove',{'room':room.id}) }}">
                                Löschen</a></li>
                        <li><a href="{{ path('room_new',{'id':room.id}) }}" class="loadContent">
                                Bearbeiten</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>

    </div>
</div>
