<div class="col-md-2">
    <h5 class="h5-responsive">{{ room.start|date('H:i') }} - {{ room.enddate|date('H:i') }}</h5>
    {% if room in runningRooms %}<small class="badge badge-success">{{'Läuft gerade'|trans}}</small><br>{% endif %}
    {% if app.user == room.moderator %}
        <span class="badge badge-info">{{ 'Moderator'|trans }}</span><br>{% endif %}
    {% if app.user == room.onlyRegisteredUsers %}
        <span class="badge badge-warning">{{ 'Intern'|trans }}</span><br>{% endif %}
</div>
<div class="col-md-4">
    <h5 class="h5-responsive">{{ room.name }} <a tabindex="0"  data-toggle="popover" data-trigger="focus" title="{{ 'Agenda'|trans }}"
                                                 data-content="{% if room.agenda is not null %}{{ room.agenda|nl2br }}{% else %}{{ 'Keine Angabe'|trans }}{% endif %}"><i class="fa fa-info-circle"></i></a></h5>
    <p class="text-black-50 small">
        {{ 'Moderator'|trans }}: {{ room.moderator.firstName }} {{ room.moderator.lastName }}<br>
        {{ 'Server'|trans }}: {{ room.server.url }}<br>
        {{ 'Anzahl Teilnehmer'|trans }}: {{ room.user|length }}
    </p>
</div>


