<div class="col-md-2">
    {% if room.tag is not null %}
        <span class="badge badge-danger d-block mb-2"
              style="color: {{ room.tag.color }}; background-color: {{ room.tag.backgroundColor }}">{{ room.tag.title }}</span>
    {% endif %}

    {% if RoomStatusOpen(room) == true %}
        <div class="occupant">
            <div class="number">
                <small>
                    {{ 'status.inconference.number'|trans( {'{number}' : RoomStatusOccupats(room)|length}) }}

                </small>
                <a tabindex="0"
                   data-mdb-toggle="popover"
                   data-mdb-trigger="focus"
                   data-mdb-html="true"
                   title="{{ 'status.inconference'|trans }}"
                   data-mdb-content="{% for u in RoomStatusOccupats(room) %}{{ u.participantName }}<br>{% endfor %}"><i
                            class="fa fa-info-circle"></i>
                </a>
            </div>
            <div class="text">
                {{ 'status.inconference'|trans }}

            </div>

        </div>
    {% endif %}
    {% if RoomStatusClosed(room) == true %}
        <div class="occupant text-danger">
            <div class="text">
                {{ 'status.finished'|trans }}
            </div>
        </div>
    {% endif %}
    {% if not (room.scheduleMeeting or room.persistantRoom) %}
        <h5 class="h5-responsive">{{ room.startwithTimeZone(app.user)|date('H:i',false) }}
            – {{ room.endwithTimeZone(app.user)|date('H:i',false) }}</h5>
        {% if getApplicationProperties('allowTimeZoneSwitch') == 1 and room.persistantRoom == false %}
            <p class="text-black-50 small"><small>{{ app.user.timeZone }}</small></p>
        {% endif %}
    {% endif %}
    {% if isAllowedToOrganize(room,app.user) %}
        <span class="badge badge-info"{% if theme %} style="background-color: {{ theme.colorBadgeModerator }} !important;" {% endif %}>
            {% if room.lobby == true %}<i class="fa-solid fa-shield-halved me-1"></i>{% endif %}
            {% if room.moderator != room.creator %}
            <i class="fa-solid fa-file-contract me-1 createdByDeputy  {% if app.user == room.moderator %} loadContent{% endif %}"
               {% if app.user == room.moderator %} href="{{ path('app_change_log',{'room_id':room.id}) }}"{% endif %}
            ></i>{% endif %}


            {{ 'Organisator'|trans }}</span>
        <br>
    {% endif %}



    {% if app.user == room.scheduleMeeting %}
        <a
                {% if isAllowedToOrganize(room,app.user) %}
                    class="loadContent"
                    href="{{ path('schedule_admin',{'id':room.id}) }}"
                {% else %}
                    href="{{ path('schedule_public_main',{'scheduleId':room.schedulings[0].uid,'userId':app.user.uid}) }}" target="_blank"
                {% endif %}
        >
            <span class="badge badge-danger" {% if theme %} style="background-color: {{ theme.colorBadgeShedule }} !important;" {% endif %}>{{ 'Terminplaner'|trans }}</span>
        </a>
        <br>
    {% endif %}
    {% if app.user == room.onlyRegisteredUsers %}
        <span class="badge badge-warning" {% if theme %} style="background-color: {{ theme.colorBadgeInternal }} !important;" {% endif %}>{{ 'Intern'|trans }}</span>
        <br>
    {% endif %}

    {% if room.repeater is not null %}
        <span class="badge badge-warning" {% if theme %} style="background-color: {{ theme.colorBadgeSeries }} !important;" {% endif %}>{{ 'Serie'|trans }}</span>
        <br>
    {% endif %}


</div>
<div class="col-md-4">
    <h5 class="h5-responsive conference-name">

        {% if app.user and app.user == room.moderator and room.secondaryName is not null %}
            {{ room.secondaryName }}
        {% else %}
            {{ room.name }}
        {% endif %}<a href="{{ path('room_favorite_toogle',{'uid':room.uidReal}) }}"><i
                    class="{{ room in app.user.favorites?'fa':'far' }} fa-star"></i> </a>
        {% if getApplicationProperties('SIP_SHOW_ROOMNUMBER_IN_DETAILS') == 1 and  room.callerRoom and getJigasiNumber(room)|length > 0 %}
            <a tabindex="0"
               data-mdb-toggle="popover"
               data-mdb-html="true"
               title="{{ 'email.sip.number'|trans }}"
               data-mdb-content="
               <p>{{ 'email.sip.pin'|trans }}: {{ room.callerRoom.callerId |addRepetiveCharacters(' ',3) }}#</p>
    {% for key,n in getJigasiNumber(room) %}
    {% for number in n %}
    <p> ({{ key }}) {{ number }} </p>
            <br>

        {% endfor %}
        {% endfor %}"><i
                        class="fa fa-phone"></i></a>
        {% endif %}

        <a tabindex="0"
           data-mdb-toggle="popover"
           data-mdb-trigger="focus"
           data-mdb-html="true"
           title="{{ 'Agenda'|trans }}"
           data-mdb-content="{% if room.agenda is not null %}{{ room.agenda|nl2br|markdown_to_html|escape }}{% else %}{{ 'Keine Angabe'|trans }}{% endif %}"><i
                    class="fa fa-info-circle"></i>
        </a>
    </h5>


    <p class="text-black-50  mb-0 small moderatorText">{{ 'Geplant von'|trans }}: {{ nameOfUserwithFormat(room.moderator, laf_showNameFrontend) }}</p>
        {% if isAllowedToOrganize(room,app.user) and room.creator is not null and room.moderator != room.creator %}
            <p class="text-black-50  mb-0 small createdFromText">  {{ 'room.creator.text'|trans }}: {{ nameOfUserwithFormat(room.creator, laf_showNameFrontend) }}</p>
        {% endif %}
        {% if servers|length > 1 %}
            <p class=" text-black-50 mb-0 small serverText"> {{ 'Server'|trans }}: {{ room.server.serverName }}</p>
        {% endif %}
       <p class=" text-black-50 small mb-0 numerParticipantsText"> {{ 'Anzahl Eingeladene'|trans }}
        : {% if room.public and room.maxParticipants is not null %}{% trans with {'{from}':room.user|length, '{to}':room.maxParticipants} %}{from} von {to}{% endtrans %}{% else %}{{ room.user|length }}{% endif %}
       </p>
        {% if  getApplicationProperties('allowTimeZoneSwitch') == 1 and room.persistantRoom == false %}
            <p class="text-black-50 mb-0 small timezoneText"> {{ 'Erstellt in Zeitzone'|trans }}: {{ room.timeZoneAuto }}</p>
        {% endif %}

</div>




