{% extends('bundles/TwigBundle/Exception/errorbase.html.twig') %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body d-flex flex-row align-items-center">
                    <div class="image me-3">
                        {% if theme and getApplicationProperties('FAVORITEBACKGROUND') %}
                            <img class="d-none d-sm-block" src="{{ getApplicationProperties('FAVORITEBACKGROUND') }}"
                                 style="height: 200px; margin-right: 8px" alt="Logo">
                        {% else %}
                            <img src="{{ asset('images/error/not_found.svg') }}">
                        {% endif %}
                    </div>
                    <div class="text">
                        <b style="font-size: 32px; font-weight: bold">{{ exception.statusCode }}
                            - {{ 'Seite nicht gefunden'|trans }}</b>
                        {% if theme and getApplicationProperties('404_ERROR_MESSAGE') %}
                            <p>{{ getApplicationProperties('404_ERROR_MESSAGE')|raw }}</p>
                        {% else %}
                            <p>{{ 'Huch? Wo wolltest du denn hin. Die Seite hat der Meetling leider nicht gefunden.'|trans }}</p>
                            <p>{{ 'Hier gehts zurück zur Startseite'|trans }}</p>
                        {% endif %}
                        <a class="btn  btn-primary" href="{{ path('index') }}">{{ 'Zur Startseite'|trans }}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
