<table style="width: 500px">
    <tbody>
    <tr>
        <td style="padding: 20px" colspan="2">
            <h1>{{ room.name }}</h1>
        </td>
    </tr>
    <tr>
        <td style="width: 250px; vertical-align: top">
            {{ room.agenda?room.agenda|markdown_to_html: 'Keine Agenda'|trans }}
        </td>
        <td style="width: 250px; vertical-align: top">
            <h3 style="margin-top-top: 0">
                {{ 'Organisator'|trans }}
            </h3>
            {{ room.moderator|nameOfUserNoSymbol }}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="vertical-align: top">
            <p>
                <small>{% trans with {'{timezone}':room.timeZone} %}report.info.timezone{% endtrans %}</small>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">
            <table>
                <tbody>
                <tr>
                    <td style="padding: 16px; width: 125px; vertical-align: top">
                        {% if room.persistantRoom %}
                            <h2>{{ 'fixed.Room.name'|trans }}</h2>
                        {% else %}
                            <h2>{{ 'Geplant'|trans }}:</h2> <p>{{ room.start|date('d.m.Y') }}</p>
                            <p>{{ room.start|date('H:i') }} - {{ room.enddate|date('H:i') }}</p>
                        {% endif %}
                    </td>
                    <td style="padding: 16px; width: 125px; vertical-align: top">
                        <h2>{{ 'Durchgeführt'|trans }}:</h2>
                        <table>
                            <tbody>
                            {% for s in room.roomstatuses|reverse|slice(0,5) %}
                                <tr>
                                    <td>
                                        {{ s.roomCreatedAtwithTimeZone()|date('d.m.Y') }}:
                                        <p>{{ s.roomCreatedAtwithTimeZone()|date('H:i') }}
                                            - {% if s.destroyedAt is not null %}  {{ s.destroyedAtwithTimeZone()|date('H:i') }}{% else %} {{ 'Jetzt'|trans }} {% endif %}</p>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
        <td style="vertical-align: top">
            <table width="450px">
                <tbody>
                <tr>
                    <td style="padding: 16px; width: 125px; vertical-align: top">
                        <h2>{{ 'Teilnehmerliste'|trans }}</h2>
                    </td>
                </tr>
                {% for u in room.user %}
                    <tr>
                        <td style="padding: 8px">{{ u|nameOfUserNoSymbol }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
