<b>
    {{ 'Name'|trans }}: {{ room.name }}
</b>
{% if room.agenda is not null %}
    <p>
        <b>{{ 'Agenda'|trans }}:</b>
    </p>
    <p>{{ room.agenda|nl2br|markdown_to_html }}</p>
{% endif %}
{% if  room.persistantRoom %}
    <p>
    </p>
{% endif %}
<p>
    {{ 'Moderator'|trans }}: {{ nameOfUserwithFormat(room.moderator, laf_showNameFrontend) }}<br>
    {% if not room.persistantRoom %}
        {% if getApplicationProperties('allowTimeZoneSwitch') == 1 %}
            {{ 'Zeitangaben in Zeitzone'|trans }}: {% if user.timeZone is not null %}{{ user.timeZone }}{% else %}{{ room.timeZoneAuto }}{% endif %}
            <br>
        {% endif %}
        {{ 'Datum'|trans }}: {{ room.startwithTimeZone(user)|date('d.m.Y',false) }}<br>
        {{ 'Startzeit'|trans }}: {{ room.startwithTimeZone(user)|date('H:i',false) }}<br>
        {{ 'Geplante Dauer'|trans }}: {{ room.duration }} {{ 'Minuten'|trans }}
    {% else %}
        {{ 'Diese Konferenz ist nicht auf einen festen Zeitpunkt datiert. Der Moderator wird sie auf einem anderen Wege darüber informieren wann die Konferenz startet.'|trans }}
        <br>
    {% endif %}
</p>
<spacer size="16"></spacer>
<p>
    {% trans with {'{email}': user.email,'{uid}': room.uid} %}
        Folgende Daten benötigen Sie um der Konferenz beizutreten:<br>
        Ihre E-Mail-Adresse: {email}<br>
        Konferenz ID: {uid}
    {% endtrans %}
    <spacer size="16"></spacer>
    {% if getJigasiNumber(room) %}
    <b>{{ 'email.sip.text'|trans }}</b><br>
    <spacer size="18"></spacer>
    <b>{{ 'email.sip.number'|trans }}:</b><br>
    {% for key,n in getJigasiNumber(room) %}
    {% for number in n %}
    {% if room.server.jigasiApiUrl is not null %}
    <p> ({{ key }}) {{ number }} {{ 'email.sip.pin'|trans }}: {{ getJigasiPin(room)|addRepetiveCharacters(' ',3) }}# (<a href="tel:{{ number }},,,,{{ getJigasiPin(room) }}#)">{{ number }},,,,{{ getJigasiPin(room) }}#</a>)<p><br>
    {% elseif  room.callerRoom  %}

    <p> ({{ key }}) {{ number }} {{ 'email.sip.pin'|trans }}: {{ room.callerRoom.callerId |addRepetiveCharacters(' ',3) }}#
        (<a href="tel:{{ number }},,,,{{ room.callerRoom.callerId }}#">{{ number }},,,,{{ room.callerRoom.callerId }}#</a>)</p><br>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
</p>
<spacer size="16"></spacer>
{% if url is defined and url is not null %}
    <p>
        <a href="{{ url }}">{{ 'Klicken Sie hier um direkt zu der Videokonferenz zu gelangen.'|trans }}</a><br>
        {{ 'Oder kopieren Sie den Link in Ihren Browser'|trans }}:<br>
        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endif %}
{% if room.totalOpenRooms and isAllowedToOrganize(room,app.user) %}
    {{ 'Leiten Sie diesen Link an die Teilnehmer weiter'|trans }}:
    <br>
    {{ httpsAbolutUrl(path('own_room_startPage',{'uid':room.uid}),room is defined?room:null) }}
{% endif %}
<p>
    {% if server is defined and  server is not null  and server.serverEmailBody is not null %}
        {{ server.serverEmailBody|nl2br }}
    {% endif %}
</p>


