{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }

        .container.header {
            background: #f3f3f3;
        }

        .body-border {
            border-top: 8px solid #ff002a;
        }
    </style>

    <spacer size="16"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">
                    {% block header %}


                    {% endblock %}
                </h1>

            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>

                <spacer size="32"></spacer>

                <spacer size="16"></spacer>
                {% block content %}

                {% endblock %}
                <spacer size="16"></spacer>
                <center>
                    <p style="text-align: center">
                        {% trans with {'{url}':absolute_url(path('dashboard'))} %}Sie wollen selber eine Videokonferenz <b>kostenlos</b> planen oder diese Konferenz komfortabel
                        in einer Übersicht verwalten?<br>
                        Dann melden Sie sich <a href="{url}">hier</a>&nbsp;<b>kostenlos</b>
                        an.
                        {% endtrans %}
                     </p>
                </center>
                <spacer size="16"></spacer>
                <p>
                    {% if room is defined %}
                    {{ 'Sie erhalten diese E-Mail, da Sie auf der Teilnehmerliste von dieser Konferenz stehen.'|trans }}
                    {% else %}
                    {{'Sie erhalten diese E-Mail, da Sie zu einem Jitsi Server hinzugefügt wurden.'|trans}}
                    {% endif %}
                </p>
                <spacer size="32"></spacer>
                <p style="text-align: center">
                    <a href="{{ dataPrivacy }}">{{ 'Datenschutzhinweis'|trans }}</a><br>
                    {% if room is defined %}
                        {% trans %}Diese Mail wurde Ihnen gesendet im Auftrag von:{% endtrans %}<br>
                        {{ room.name }} - {{ room.moderator.firstName }} {{ room.moderator.lastName }}
                    {% endif %}
                </p>

            </columns>
        </row>
        <center>
            <small>
                <a href="https://jitsi-admin.de">{{ 'Powered by Jitsi Manager, die Open Source Jitsi Planer Software'|trans }}</a>
            </small>
        </center>

    </container>
{% endapply %}
