{% extends 'email/base.html.twig' %}
{% block header %}
    -- Videokonferenz bearbeitet --
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <b>
        Hallo!
    </b>
    <p>
        Die Veranstaltung {{ room.name }} wurde gerade geändert. Über den beigefügten Link können Sie ganz einfach zur Videokonferenz beitreten.
    </p>
    <b>
        Name: {{ room.name }}
    </b>
    <p>Moderator: {{ room.moderator.firstName }} {{ room.moderator.lastName }}</p>
    <spacer size="16"></spacer>
    <p>Folgende Daten benötigen Sie um der Konferenz beizutreten:<br>Ihre Email Adresse: {{ user.email }}<br>Konferenz ID: {{ room.uid }}</p>
    <spacer size="16"></spacer>
    <p>
        <a href="{{ url }}">Klicken Sie hier um direkt zu der Videokonferenz
            zu gelangen.</a>
    </p>
    <spacer size="16"></spacer>
    <p>
        Sie erhalten diese E-Mail, weil Sie zu einer Videokonferenz eingeladen wurden.
    </p>
    <spacer size="16"></spacer>

{% endblock %}
