{% extends 'email/base.html.twig' %}
{% block header %}
    {{ 'Terminplanung abgesagt'|trans }}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <b>
        {{'Hallo!'|trans}}
    </b>
    <p>
        {% trans with {'{name}': room.name|escape} %}
            Die Terminplanung {name} wurde abgesagt.
        {% endtrans %}
    </p>
    <b>
        {{ 'Name'|trans }}: {{ room.name }}
    </b>
    <p>{{ 'Moderator'|trans }}: {{ room.moderator.firstName }} {{ room.moderator.lastName }}<br>


{% endblock %}
