{% extends 'email/base.html.twig' %}
{% block header %}
   {{ server.serverName }}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {% trans with {'{url}':server.serverName } %}Sie können jetzt Konferenzen mit dem Jitsi Server {url} erstellen{% endtrans %}
    </h4>
    <b>
        {{'Hallo!'|trans}}
    </b>
    <p>
        {{'Sie können nun Jitsi Meet Konferenzen über den Jitsi Admin verwalten. Loggen Sie sich ein oder erstellen Sie
        sich einen Benutzer.'|trans}}
    </p>
    <b>
        {{ 'Login'|trans }}: <a href="{{ absolute_url(path('dashboard')) }}">Jitsi Admin</a><br>
        Jitsi Admin: <a href="{{ absolute_url(path('index')) }}">Jitsi Admin start</a>
    </b>
    <spacer size="16"></spacer>
    <p>{{ 'Server Administrator'|trans }}: {{ server.administrator.firstName }} {{ server.administrator.lastName }}</p>
    <spacer size="16"></spacer>
{% endblock %}
