{% extends 'email/base.html.twig' %}
{% block header %}
    {{'recording.email.title'|trans}}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <p>
        {% if room.fastConference %}
            {% trans with {'{name}': room.name} %}recording.email.body.fastconference{% endtrans %}
        {% else %}
            {% trans with {'{name}': room.name} %}recording.email.body{% endtrans %}
        {% endif %}
    </p>

    {% if room.fastConference %}
        <a class="text-center" href="{{ laF_baseUrl }}{{ path('recording_download_fastconference', {'id': room.id}) }}"> <button href="{{ laF_baseUrl }}{{ path('recording_download_fastconference', {'id': room.id}) }}" class="expanded rounded">{{ 'Download'|trans }}</button></a>
    {% else %}
        <a class="text-center" href="{{ laF_baseUrl }}{{ path('dashboard') }}"> <button href="{{ laF_baseUrl }}{{ path('dashboard') }}" class="expanded rounded">{{ 'Dashboard'|trans }}</button></a>
    {% endif %}
{% endblock %}
