{% extends 'email/base.html.twig' %}
{% block header %}
   {{ 'Sie sind auf der Warteliste'|trans }}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <b>
        {{'Hallo!'|trans}}
    </b>
    <p>
        {% trans with {'{name}': room.name|escape} %}
            Sie sind auf der Warteliste für die Konferenz {name} eingetragen.
        {% endtrans %}
    </p>
    <p>
        <br>
        <br>
    <br>
        <br>
    </p>
    <b>
        {{ 'Name'|trans }}: {{ room.name }}
    </b>
    <p>{{ 'Moderator'|trans }}: {{ room.moderator.firstName }} {{ room.moderator.lastName }}<br>
        {{ 'Datum'|trans }}: {{ room.start|date('d.m.Y') }}<br>
        {{ 'Startzeit'|trans }}: {{ room.start|date('H:i') }}<br>
        {{ 'Geplante Dauer'|trans }}: {{ room.duration }} {{ 'Minuten'|trans }}</p>

{% endblock %}
